.button {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: 700;
	font-family: 'GothamPro';
	padding: 15px 25px 13px 25px;
	letter-spacing: 0.03em;
	border-radius: 20px;

	&--grey {
		background-color: #EBECED;
		color: #768493;

		&:hover {
			background-color: #E1E2E4;
		}
	}

	&--green {
		color: #fff;
		background-color: $accent2;

		&:hover {
			background-color: #40DEAC;
		}

		&:active {
			background-color: $accent2;
		}
	}

	&--blue {
		color: #fff;
		background-color: $accent;

		&:hover {
			background-color: #2DB2EC;
		}

		&:active {
			background-color: $accent;
		}
	}

	&--bordered {
		border: 1px solid #fff;
	}
}