.footer__inner {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 100px;
}

.footer__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 60px 0 50px 0;
}

.footer__col {
}

.footer__logo {
	display: block;
	width: 240px;
	margin-top: -15px;
}

.footer__addr {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
	color: #353E49;
	letter-spacing: 0.03em;
	line-height: 30px;
}

.footer__link {
	@extend .footer__addr;

	display: block;

	&:hover {
		color: $accent;
	}
}

.footer__copy {
	color: $accent;
	font-size: 16px;
	font-family: 'Roboto';
	letter-spacing: 0.03em;
	line-height: 30px;
	font-weight: 400;
	text-align: right;
}

.footer__creators {
	border-top: 1px solid #CCCCCC;
	padding: 20px 20px 30px 20px;
	color: #353E49;
	font-family: 'Roboto';
	font-size: 16px;
	letter-spacing: 0.03em;
	line-height: 30px;
	text-align: center;
	font-weight: 100;
}

.footer__creators__link {
	color: inherit;

	&:hover {
		color: $accent;
	}
}