.header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 20;
	transition: background-color .3s, transform .3s, box-shadow .3s;
	
	&--scrolled,
	&--fill {
		background-color: #fff;
	    box-shadow: 0 0 100px rgba(28, 154, 214, 0.09);

		.header__row {
			padding: 20px 0;
		}
	}

	&--hidden {
		transform: translateY(-100%);
	}
}

.header__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	transition: padding .3s;
}

.header__logo {
	width: 245px;
}

.header__controls {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.header__nav-link {
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: #647485;
	text-decoration: none;
	margin-right: 50px;
	font-family: 'GothamPro';
	border-bottom: 1px solid transparent;
	transition: border-color .3s;
	padding-bottom: 5px;

	&.is-active {
		color: $accent;
	}

	&:hover {
		
		border-color: $accent;
	}
}

.header__icons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-left: 50px;
}

.header__icon {
	display: block;
	height: 18px;
	width: 30px;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 25px;

	&:last-child {
		margin-right: 0;
	}

	&--search {
		background-image: url(../images/static/header__search.svg);
	}

	&--call {
		background-image: url(../images/static/header__call.svg);
	}
}