footer.footer
	div.footer__inner
		div.footer__row
			div.footer__col
				a(href="#").footer__logo
					img(src="assets/images/static/footer__logo.svg", alt="")

			div.footer__col
				div.footer__addr Санкт-Петербург, Россия  <br/>Лиговский проспект,7/А

			div.footer__col
				a(href="tel:88005553535").footer__link +7 (900) 999-00-00
				a(href="mailto:box@mail.ru").footer__link box@mail.ru

			div.footer__col
				div.footer__copy © 2018 Виртуальные приборы

		div.footer__creators <a href='#' class='footer__creators__link'>Разработка сайта - Cakelabs</a>

