header.header.header--fill
	div.container
		div.header__row
			a(href="#").header__logo
				img(src="assets/images/static/header__logo.svg", alt="").header__logo-image
			div.header__controls
				nav.header__nav
					a(href="#").header__nav-link проекты
					a(href="#").header__nav-link услуги
					a(href="#").header__nav-link о компании
					a(href="#").header__nav-link новости
					a(href="#").header__nav-link контакты

				div.header__button
					a(href="#" data-popup='callbackPopup').button.button--grey Заказать проект

				div.header__icons
					a(href="#").header__icon.header__icon--search.js-search
					a(href="#").header__icon.header__icon--call.js-call

div.h-search
	form.h-search__form
		div.container
			div.h-search__top
				input(type="text" placeholder='Что вы ищете?').h-search__input
				div.h-search__closer
			div.h-search__title 16 совпадений
		div.h-results
			div.h-results__inner
				div.h-result
					div.h-result__title Проекты
					div.h-result__content
						div.h-result__content-items
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
						a(href="#").h-result__more показать все результаты
				div.h-result
					div.h-result__title Новости
					div.h-result__content
						div.h-result__content-items
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
						a(href="#").h-result__more показать все результаты
				div.h-result
					div.h-result__title Услуги
					div.h-result__content
						div.h-result__content-items
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							div.h-result__item
								a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
								div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
						a(href="#").h-result__more показать все результаты
