div.popup.is-visible#callbackPopup
	div.popup__inner
		div.popup__closer
		div.popup__row
			div.popup__content
				div.popup__content-title Хотите обсудить проект?
				div.popup__content-text Если вы захотели работать с нами,  пожалуйста воспользуйтесь  формой обратной связи</br>  или позвоните нам +7 (900) 999 - 00 - 00
			div.popup__form
				form.c-form__form#popupForm
					div.c-form__inputs
						div.c-form__line
							input(type="text" placeholder='Название компании' name='companyName').c-form__input.validateCompanyName
						div.c-form__line
							input(type="text" placeholder='Имя' name='Name').c-form__input.validateName
						div.c-form__line
							input(type="text" placeholder='Телефон' name='phone').c-form__input.validatePhone.phone
						div.c-form__line
							input(type="text" placeholder='E-mail' name='email').c-form__input.validateEmail
						div.c-form__line
							textarea(placeholder='Комментарий' name='comment').c-form__textarea
						div.c-form__error Пожалуйста, заполните все необходимые поля.
					div.c-form__button-wrapper
						button(type='submit').button.button--blue.c-form__button Отправить
					div.c-form__note Нажимая на эту кнопку вы даете согласие  на обработку персональных данных

div.popup.popup--success#successPopup
	div.popup__inner
		div.popup__closer
		div.popup__row
			div.popup__content
				div.popup__content-title Успешно!
				div.popup__content-text Ваша заявка отправлена, в ближайшее время мы свяжемся с вами по телефону.
			div.popup__hides Это окно закроется автоматически</br>  через <span class='popup__timer'>4</span> <span class='popup__seconds'>секунд</span>.