<?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg id='sCardSvg' width="100%" height="100%" viewBox="0 0 734 842" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:10;">
   <rect x="0" y="0" width="734" height="842" style="fill:#1c9ad6;"/>
   <g>
      <g opacity="0.5">
         <g>
            <g opacity="0.25">
               <path d="M84.977,270.277l0,176.59" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M106.07,371.785l0,291.023" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M474.259,491.136l-81.569,48.355c0,0 -4.549,2.48 -8.787,-0.207l-169.468,-101.852" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M713.302,514.81l0,94.916" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M690.62,419.525l0,174.022" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M453.291,620.384l-60.045,34.342c0,0 -3.781,2.151 -7.297,-0.226l-40.616,-22.806" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M453.013,532.426l-61.71,36.439c0,0 -4.033,2.894 -7.548,0.517l-104.216,-63.831" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M431.071,662.135l-37.645,22.26c0,0 -4.032,2.894 -7.548,0.516l-85.298,-51.607" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M430.808,808.279l-37.645,22.261c0,0 -4.034,2.894 -7.549,0.516l-148.068,-89.899" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M602.929,587.04l-210.175,126.309c0,0 -4.031,2.894 -7.546,0.516l-21.011,-13.272" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M496.272,738.93l-103.664,62.768c0,0 -4.032,2.895 -7.547,0.518l-62.89,-38.429" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M538.186,685.185l-145.578,87.877c0,0 -4.032,2.896 -7.548,0.518l-105.079,-65.099" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M452.292,330.957l17.624,10.662c0,0 4.271,2.058 4.271,7.239l0,81.969" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M389.505,240.202l124.383,74.914c0,0 4.271,2.057 4.271,7.238l0,257.058" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M430.795,135.034l190.613,114.069c0,0 4.271,2.058 4.271,7.24l0,171.113" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M518.285,213.522l81.556,49.711c0,0 4.271,2.057 4.271,7.24c0,14.12 0.441,257.632 0.441,257.632" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M369.379,19.612l317.366,190.579c0,0 4.27,2.057 4.27,7.24l0,142.151" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M428.998,293.823l-102.846,61.584c0,0 -4.272,2.057 -4.272,7.238l0,23.712" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M236.957,147.543l-126.616,74.894c0,0 -4.271,2.056 -4.271,7.239l0,111.106" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M280.278,173.854l-126.615,74.895c0,0 -4.272,2.058 -4.272,7.238l0,345.403" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M324.534,69.43l-151.964,91.464" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M190.47,122.308l-123.677,75.288c0,0 -4.27,2.057 -4.27,7.238l0,140.163" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M173.972,211.743l-42.568,26.338c0,0 -4.272,2.058 -4.272,7.238l0,223.49" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M474.704,213.173l104.107,61.785c0,0 4.271,2.057 4.271,7.24l0,26.181" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M606.359,136.083l102.362,61.171c0,0 4.272,2.058 4.272,7.238l0,258.721" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M323.071,122.629l-127.804,76.592" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M344.589,160.964l-151.872,91.766" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M387.767,266.324l-86.968,52.331" style="fill:none;stroke:#ddf1fa;stroke-width:1.86px;"/>
               <path d="M343.889,214.267l-43.09,25.931" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M259.401,608.181l-86.91,-52.621" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M318.985,674.773l-126.614,-76.506" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M84.593,504.498l0,59.048" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M62.341,407.014l0,202.275" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M411.758,332.76l36.069,22.113c0,0 4.271,2.058 4.271,7.239l0,107.601" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M475.291,266.643l59.682,35.904c0,0 4.273,2.056 4.273,7.238l0,81.969" style="fill:none;stroke:#ddf1fa;stroke-width:1.86px;"/>
               <path d="M605.703,188.569l59.682,35.903c0,0 4.273,2.058 4.273,7.24l0,81.97" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M128.272,617.634l127.955,77.254" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M125.903,674.467l66.759,40.791" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M148.797,659.032l130.368,78.603" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M193.476,628.15l127.955,77.254" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M583.481,339.853l0,171.811" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M669.098,491.736l0,172.035" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M496.068,450.87l0,172.036" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M560.494,438.052l0,145.463" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M647.378,356.691l0,175.283" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M625.887,688.323l0,-232.453" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M474.087,781.169l109.893,-65.899" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M409.293,733.309l153.775,-92.038" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M452.255,200.594l-107.869,-65.899" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M559.715,159.966l-129.179,-77.184" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M517.417,160.834l-152.045,-90.937" style="fill:none;stroke:#ddf1fa;stroke-width:1.98px;"/>
               <path d="M236.796,94.271l87.348,-51.845" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M538.216,94.989l-86.528,-52.335" style="fill:none;stroke:#ddf1fa;stroke-width:1.16px;"/>
               <path d="M260.233,264.562l-42.568,26.337c0,0 -4.272,2.058 -4.272,7.241l0,78.427" style="fill:none;stroke:#ddf1fb;stroke-width:1px;"/>
               <path d="M432.031,486.736l-37.471,23.491c0,0 -4.031,2.894 -7.547,0.516l-85.298,-51.608" style="fill:none;stroke:#ddf1fb;stroke-width:1.98px;"/>
               <path d="M429.622,428.916l-37.47,23.492c0,0 -4.033,2.895 -7.548,0.516l-106.852,-63.837" style="fill:none;stroke:#ddf1fb;stroke-width:1.98px;"/>
               <path d="M345.023,186.865l-147.574,89.658c0,0 -4.271,2.058 -4.271,7.238l0,228.457" style="fill:none;stroke:#ddf1fb;stroke-width:1.98px;"/>
               <path d="M412.576,197.804l-173.494,104.953c0,0 -4.273,2.059 -4.273,7.241l0,23.712" style="fill:none;stroke:#ddf1fb;stroke-width:1.98px;"/>
               <path d="M343.65,265.758l-82.48,49.885c0,0 -4.272,2.058 -4.272,7.24l0,76.145" style="fill:none;stroke:#ddf1fb;stroke-width:1.98px;"/>
               <path d="M170.741,293.737l0,146.111" style="fill:none;stroke:#ddf1fb;stroke-width:1.98px;"/>
               <path d="M412.602,586.246l-20.17,12.254c0,0 -3.782,2.151 -7.297,-0.226l-61.971,-37.632" style="fill:none;stroke:#ddf1fb;stroke-width:1.98px;"/>
               <path d="M236.15,536.717l128.853,79.52" style="fill:none;stroke:#ddf1fb;stroke-width:1.16px;"/>
               <path d="M429.373,91.199c0.309,0.183 0.812,0.183 1.125,0l13.562,-8.069c0.31,-0.185 0.31,-0.486 0,-0.67l-13.562,-8.062c-0.313,-0.18 -0.816,-0.18 -1.125,0l-13.567,8.062c-0.307,0.184 -0.307,0.485 0,0.67l13.567,8.069Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
               <path d="M365.541,27.597c0.307,0.184 0.811,0.184 1.124,0l13.563,-8.07c0.309,-0.185 0.309,-0.485 0,-0.67l-13.563,-8.062c-0.313,-0.18 -0.817,-0.18 -1.124,0l-13.569,8.062c-0.309,0.185 -0.309,0.485 0,0.67l13.569,8.07Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
               <path d="M323.905,74.178c0.19,0.113 0.498,0.113 0.689,0l8.306,-4.942c0.189,-0.113 0.189,-0.296 0,-0.41l-8.306,-4.936c-0.191,-0.111 -0.499,-0.111 -0.689,0l-8.308,4.936c-0.187,0.114 -0.187,0.297 0,0.41l8.308,4.942Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
               <path d="M364.275,78.325c0.307,0.185 0.812,0.185 1.124,0l13.564,-8.067c0.308,-0.185 0.308,-0.487 0,-0.67l-13.564,-8.062c-0.312,-0.181 -0.817,-0.181 -1.124,0l-13.568,8.062c-0.308,0.183 -0.308,0.485 0,0.67l13.568,8.067Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
            </g>
         </g>
         <g>
            <path d="M328.267,554.734c0.462,0.277 0.843,0.938 0.843,1.481l0,15.564c0,0.539 -0.381,0.755 -0.843,0.474l-12.928,-7.681c-0.463,-0.28 -0.84,-0.943 -0.84,-1.481l0,-15.566c0,-0.541 0.377,-0.754 0.84,-0.477l12.928,7.686Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M305.077,627.327c0.461,0.277 0.842,0.937 0.842,1.481l0,15.564c0,0.538 -0.381,0.755 -0.842,0.473l-12.929,-7.68c-0.462,-0.282 -0.84,-0.944 -0.84,-1.481l0,-15.566c0,-0.541 0.378,-0.754 0.84,-0.477l12.929,7.686Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M285.146,500.627c0.46,0.277 0.842,0.939 0.842,1.482l0,15.565c0,0.538 -0.382,0.754 -0.842,0.474l-12.931,-7.682c-0.46,-0.281 -0.837,-0.942 -0.837,-1.481l0,-15.566c0,-0.542 0.377,-0.754 0.837,-0.477l12.931,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M131.316,615.101c0.277,0.167 0.506,0.565 0.506,0.889l0,9.34c0,0.324 -0.229,0.454 -0.506,0.285l-7.758,-4.61c-0.278,-0.168 -0.504,-0.564 -0.504,-0.889l0,-9.34c0,-0.324 0.226,-0.452 0.504,-0.285l7.758,4.61Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M260.965,692.167c0.277,0.166 0.506,0.563 0.506,0.889l0,9.339c0,0.323 -0.229,0.454 -0.506,0.285l-7.758,-4.608c-0.278,-0.169 -0.504,-0.567 -0.504,-0.89l0,-9.34c0,-0.326 0.226,-0.453 0.504,-0.287l7.758,4.612Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M429.24,143.66c0.317,0.191 0.838,0.191 1.162,0l14.023,-8.344c0.318,-0.19 0.318,-0.501 0,-0.692l-14.023,-8.335c-0.324,-0.187 -0.845,-0.187 -1.162,0l-14.03,8.335c-0.318,0.191 -0.318,0.502 0,0.692l14.03,8.344Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M662.015,483.769c-0.462,0.277 -0.843,0.938 -0.843,1.482l0,15.564c0,0.539 0.381,0.755 0.843,0.474l12.929,-7.682c0.461,-0.28 0.839,-0.942 0.839,-1.481l0,-15.565c0,-0.543 -0.378,-0.755 -0.839,-0.477l-12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M662.015,657.609c-0.462,0.277 -0.843,0.939 -0.843,1.482l0,15.566c0,0.537 0.381,0.753 0.843,0.472l12.929,-7.682c0.461,-0.28 0.839,-0.941 0.839,-1.479l0,-15.567c0,-0.542 -0.378,-0.754 -0.839,-0.477l-12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M489.154,442.943c-0.46,0.277 -0.842,0.938 -0.842,1.482l0,15.565c0,0.538 0.382,0.755 0.842,0.473l12.931,-7.68c0.46,-0.282 0.837,-0.942 0.837,-1.482l0,-15.566c0,-0.542 -0.377,-0.755 -0.837,-0.476l-12.931,7.684Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M489.154,616.785c-0.46,0.277 -0.842,0.937 -0.842,1.482l0,15.565c0,0.537 0.382,0.754 0.842,0.472l12.931,-7.68c0.46,-0.281 0.837,-0.942 0.837,-1.482l0,-15.565c0,-0.542 -0.377,-0.754 -0.837,-0.477l-12.931,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M556.101,434.245c-0.277,0.167 -0.505,0.564 -0.505,0.889l0,9.34c0,0.324 0.228,0.454 0.505,0.285l7.76,-4.609c0.278,-0.17 0.503,-0.565 0.503,-0.89l0,-9.341c0,-0.324 -0.225,-0.452 -0.503,-0.285l-7.76,4.611Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M428.051,803.963c-0.277,0.167 -0.506,0.565 -0.506,0.889l0,9.341c0,0.323 0.229,0.453 0.506,0.283l7.759,-4.609c0.277,-0.168 0.503,-0.565 0.503,-0.888l0,-9.342c0,-0.325 -0.226,-0.451 -0.503,-0.285l-7.759,4.611Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M491.448,735.124c-0.276,0.167 -0.504,0.564 -0.504,0.889l0,9.34c0,0.323 0.228,0.454 0.504,0.285l7.76,-4.609c0.277,-0.169 0.502,-0.566 0.502,-0.89l0,-9.34c0,-0.325 -0.225,-0.452 -0.502,-0.285l-7.76,4.61Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M556.101,579.399c-0.277,0.165 -0.505,0.563 -0.505,0.889l0,9.34c0,0.323 0.228,0.453 0.505,0.284l7.76,-4.609c0.278,-0.169 0.503,-0.566 0.503,-0.889l0,-9.341c0,-0.324 -0.225,-0.453 -0.503,-0.285l-7.76,4.611Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M559.718,170.243c0.307,0.184 0.811,0.184 1.124,0l13.563,-8.07c0.308,-0.184 0.308,-0.485 0,-0.67l-13.563,-8.061c-0.313,-0.18 -0.817,-0.18 -1.124,0l-13.569,8.061c-0.307,0.185 -0.307,0.486 0,0.67l13.569,8.07Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M195.417,711.4c0.277,0.168 0.505,0.563 0.505,0.889l0,9.339c0,0.325 -0.228,0.454 -0.505,0.285l-7.758,-4.608c-0.277,-0.169 -0.502,-0.566 -0.502,-0.89l0,-9.34c0,-0.325 0.225,-0.452 0.502,-0.286l7.758,4.611Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M130.361,671.973c0.277,0.166 0.505,0.563 0.505,0.889l0,9.339c0,0.323 -0.228,0.452 -0.505,0.284l-7.759,-4.608c-0.277,-0.169 -0.503,-0.566 -0.503,-0.89l0,-9.339c0,-0.326 0.226,-0.453 0.503,-0.287l7.759,4.612Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M596.951,523.433c-0.461,0.276 -0.843,0.937 -0.843,1.482l0,15.564c0,0.538 0.382,0.755 0.843,0.473l12.93,-7.681c0.461,-0.281 0.838,-0.942 0.838,-1.48l0,-15.566c0,-0.544 -0.377,-0.754 -0.838,-0.477l-12.93,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M516.781,222.295c0.308,0.183 0.812,0.183 1.125,0l13.562,-8.07c0.308,-0.184 0.308,-0.484 0,-0.669l-13.562,-8.062c-0.313,-0.18 -0.817,-0.18 -1.125,0l-13.568,8.062c-0.308,0.185 -0.308,0.485 0,0.669l13.568,8.07Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M240.635,738.267c0.277,0.168 0.506,0.564 0.506,0.889l0,9.34c0,0.324 -0.229,0.454 -0.506,0.284l-7.758,-4.608c-0.277,-0.169 -0.503,-0.566 -0.503,-0.89l0,-9.34c0,-0.325 0.226,-0.452 0.503,-0.285l7.758,4.61Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M325.682,760.092c0.278,0.167 0.506,0.563 0.506,0.889l0,9.339c0,0.324 -0.228,0.454 -0.506,0.285l-7.758,-4.608c-0.277,-0.168 -0.503,-0.566 -0.503,-0.89l0,-9.34c0,-0.325 0.226,-0.451 0.503,-0.286l7.758,4.611Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M283.956,732.081c0.462,0.276 0.843,0.938 0.843,1.48l0,15.566c0,0.538 -0.381,0.755 -0.843,0.473l-12.929,-7.68c-0.461,-0.282 -0.839,-0.944 -0.839,-1.481l0,-15.566c0,-0.543 0.378,-0.754 0.839,-0.477l12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M154.733,654.616c0.463,0.277 0.843,0.939 0.843,1.481l0,15.565c0,0.539 -0.38,0.755 -0.843,0.474l-12.928,-7.681c-0.463,-0.281 -0.84,-0.943 -0.84,-1.482l0,-15.565c0,-0.542 0.377,-0.754 0.84,-0.477l12.928,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M327.592,381.37c0.461,0.278 0.842,0.939 0.842,1.482l0,15.564c0,0.539 -0.381,0.755 -0.842,0.474l-12.93,-7.681c-0.461,-0.281 -0.839,-0.943 -0.839,-1.481l0,-15.566c0,-0.542 0.378,-0.754 0.839,-0.477l12.93,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M430.011,300.911c0.308,0.185 0.812,0.185 1.125,0l13.562,-8.069c0.309,-0.185 0.309,-0.486 0,-0.67l-13.562,-8.062c-0.313,-0.18 -0.817,-0.18 -1.125,0l-13.568,8.062c-0.307,0.184 -0.307,0.485 0,0.67l13.568,8.069Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M451.681,339.673c0.307,0.185 0.812,0.185 1.125,0l13.563,-8.069c0.309,-0.185 0.309,-0.485 0,-0.669l-13.563,-8.062c-0.313,-0.18 -0.818,-0.18 -1.125,0l-13.567,8.062c-0.308,0.184 -0.308,0.484 0,0.669l13.567,8.069Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M472.85,218.908c0.188,0.113 0.496,0.113 0.689,0l8.305,-4.94c0.19,-0.113 0.19,-0.298 0,-0.412l-8.305,-4.936c-0.193,-0.11 -0.501,-0.11 -0.689,0l-8.308,4.936c-0.19,0.114 -0.19,0.299 0,0.412l8.308,4.94Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M386.311,248.36c0.307,0.184 0.811,0.184 1.124,0l13.563,-8.07c0.309,-0.185 0.309,-0.486 0,-0.67l-13.563,-8.062c-0.313,-0.18 -0.817,-0.18 -1.124,0l-13.569,8.062c-0.307,0.184 -0.307,0.485 0,0.67l13.569,8.07Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M193.837,205.052c0.187,0.113 0.496,0.113 0.688,0l8.304,-4.941c0.191,-0.114 0.191,-0.296 0,-0.41l-8.304,-4.936c-0.192,-0.112 -0.501,-0.112 -0.688,0l-8.309,4.936c-0.19,0.114 -0.19,0.296 0,0.41l8.309,4.941Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M322.072,127.554c0.188,0.112 0.497,0.112 0.689,0l8.306,-4.941c0.188,-0.113 0.188,-0.297 0,-0.411l-8.306,-4.937c-0.192,-0.109 -0.501,-0.109 -0.689,0l-8.308,4.937c-0.188,0.114 -0.188,0.298 0,0.411l8.308,4.941Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M168.547,167.75c0.188,0.113 0.497,0.113 0.689,0l8.306,-4.942c0.188,-0.113 0.188,-0.297 0,-0.411l-8.306,-4.935c-0.192,-0.111 -0.501,-0.111 -0.689,0l-8.308,4.935c-0.189,0.114 -0.189,0.298 0,0.411l8.308,4.942Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M191.482,261.19c0.307,0.185 0.812,0.185 1.124,0l13.563,-8.07c0.308,-0.183 0.308,-0.485 0,-0.67l-13.563,-8.06c-0.312,-0.181 -0.817,-0.181 -1.124,0l-13.569,8.06c-0.307,0.185 -0.307,0.487 0,0.67l13.569,8.07Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M343.097,169.845c0.307,0.185 0.811,0.185 1.124,0l13.563,-8.07c0.308,-0.184 0.308,-0.484 0,-0.669l-13.563,-8.06c-0.313,-0.181 -0.817,-0.181 -1.124,0l-13.569,8.06c-0.307,0.185 -0.307,0.485 0,0.669l13.569,8.07Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M299.457,327.051c0.308,0.185 0.812,0.185 1.124,0l13.564,-8.068c0.308,-0.185 0.308,-0.486 0,-0.67l-13.564,-8.062c-0.312,-0.18 -0.816,-0.18 -1.124,0l-13.568,8.062c-0.308,0.184 -0.308,0.485 0,0.67l13.568,8.068Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M386.821,275.064c0.309,0.185 0.812,0.185 1.125,0l13.564,-8.069c0.308,-0.185 0.308,-0.486 0,-0.67l-13.564,-8.062c-0.313,-0.18 -0.816,-0.18 -1.125,0l-13.567,8.062c-0.308,0.184 -0.308,0.485 0,0.67l13.567,8.069Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M299.675,245.413c0.187,0.114 0.495,0.114 0.687,0l8.306,-4.941c0.189,-0.113 0.189,-0.296 0,-0.41l-8.306,-4.936c-0.192,-0.112 -0.5,-0.112 -0.687,0l-8.31,4.936c-0.189,0.114 -0.189,0.297 0,0.41l8.31,4.941Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M343.576,219.429c0.188,0.113 0.497,0.113 0.689,0l8.305,-4.941c0.189,-0.113 0.189,-0.296 0,-0.41l-8.305,-4.936c-0.192,-0.112 -0.501,-0.112 -0.689,0l-8.308,4.936c-0.189,0.114 -0.189,0.297 0,0.41l8.308,4.941Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M264.996,603.026c0.461,0.278 0.842,0.94 0.842,1.482l0,15.565c0,0.539 -0.381,0.754 -0.842,0.474l-12.93,-7.68c-0.461,-0.283 -0.839,-0.944 -0.839,-1.482l0,-15.566c0,-0.542 0.378,-0.755 0.839,-0.477l12.93,7.684Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M177.776,550.065c0.462,0.276 0.843,0.938 0.843,1.482l0,15.565c0,0.539 -0.381,0.754 -0.843,0.473l-12.929,-7.681c-0.462,-0.28 -0.839,-0.942 -0.839,-1.481l0,-15.565c0,-0.543 0.377,-0.754 0.839,-0.477l12.929,7.684Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M327.519,671.435c0.462,0.277 0.843,0.939 0.843,1.481l0,15.565c0,0.539 -0.381,0.754 -0.843,0.474l-12.929,-7.68c-0.462,-0.282 -0.839,-0.944 -0.839,-1.482l0,-15.566c0,-0.542 0.377,-0.755 0.839,-0.477l12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M367.518,694.774c0.462,0.277 0.844,0.939 0.844,1.481l0,15.565c0,0.539 -0.382,0.754 -0.844,0.474l-12.929,-7.681c-0.462,-0.281 -0.84,-0.943 -0.84,-1.482l0,-15.565c0,-0.542 0.378,-0.755 0.84,-0.477l12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M283.957,702.994c0.462,0.277 0.843,0.939 0.843,1.482l0,15.564c0,0.54 -0.381,0.755 -0.843,0.474l-12.929,-7.681c-0.462,-0.281 -0.84,-0.942 -0.84,-1.482l0,-15.564c0,-0.543 0.378,-0.756 0.84,-0.478l12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M197.637,592.728c0.461,0.278 0.844,0.94 0.844,1.482l0,15.566c0,0.537 -0.383,0.753 -0.844,0.473l-12.929,-7.68c-0.462,-0.283 -0.84,-0.944 -0.84,-1.482l0,-15.565c0,-0.543 0.378,-0.755 0.84,-0.477l12.929,7.683Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M467.489,425.894c-0.462,0.277 -0.844,0.939 -0.844,1.482l0,15.564c0,0.54 0.382,0.755 0.844,0.473l12.929,-7.68c0.46,-0.28 0.84,-0.942 0.84,-1.481l0,-15.565c0,-0.543 -0.38,-0.755 -0.84,-0.478l-12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M407.915,340.042c0.308,0.185 0.812,0.185 1.124,0l13.563,-8.069c0.308,-0.185 0.308,-0.486 0,-0.67l-13.563,-8.062c-0.312,-0.18 -0.816,-0.18 -1.124,0l-13.569,8.062c-0.307,0.184 -0.307,0.485 0,0.67l13.569,8.069Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M445.054,469.66c-0.462,0.277 -0.843,0.939 -0.843,1.481l0,15.565c0,0.539 0.381,0.754 0.843,0.474l12.929,-7.68c0.461,-0.282 0.84,-0.944 0.84,-1.482l0,-15.566c0,-0.542 -0.379,-0.755 -0.84,-0.477l-12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M473.408,274.498c0.307,0.185 0.812,0.185 1.123,0l13.565,-8.069c0.308,-0.185 0.308,-0.485 0,-0.67l-13.565,-8.062c-0.311,-0.18 -0.816,-0.18 -1.123,0l-13.568,8.062c-0.307,0.185 -0.307,0.485 0,0.67l13.568,8.069Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M451.374,205.96c0.189,0.113 0.497,0.113 0.689,0l8.305,-4.941c0.19,-0.113 0.19,-0.297 0,-0.411l-8.305,-4.936c-0.192,-0.11 -0.5,-0.11 -0.689,0l-8.308,4.936c-0.189,0.114 -0.189,0.298 0,0.411l8.308,4.941Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M344.417,140.855c0.189,0.113 0.497,0.113 0.689,0l8.304,-4.942c0.19,-0.113 0.19,-0.296 0,-0.41l-8.304,-4.936c-0.192,-0.111 -0.5,-0.111 -0.689,0l-8.308,4.936c-0.189,0.114 -0.189,0.297 0,0.41l8.308,4.942Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M532.482,386.858c-0.462,0.277 -0.843,0.939 -0.843,1.483l0,15.565c0,0.537 0.381,0.754 0.843,0.472l12.93,-7.68c0.461,-0.282 0.838,-0.942 0.838,-1.481l0,-15.567c0,-0.54 -0.377,-0.753 -0.838,-0.476l-12.93,7.684Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M603.909,193.245c0.189,0.113 0.497,0.113 0.689,0l8.305,-4.94c0.19,-0.113 0.19,-0.297 0,-0.411l-8.305,-4.937c-0.192,-0.109 -0.5,-0.109 -0.689,0l-8.308,4.937c-0.189,0.114 -0.189,0.298 0,0.411l8.308,4.94Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M665.35,310.829c-0.278,0.167 -0.506,0.565 -0.506,0.889l0,9.341c0,0.323 0.228,0.453 0.506,0.283l7.758,-4.609c0.277,-0.168 0.504,-0.565 0.504,-0.888l0,-9.341c0,-0.326 -0.227,-0.452 -0.504,-0.285l-7.758,4.61Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M239.666,533.656c0.277,0.165 0.506,0.563 0.506,0.889l0,9.339c0,0.323 -0.229,0.454 -0.506,0.285l-7.76,-4.609c-0.277,-0.169 -0.502,-0.566 -0.502,-0.889l0,-9.342c0,-0.324 0.225,-0.452 0.502,-0.285l7.76,4.612Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M367.856,612.705c0.277,0.166 0.506,0.563 0.506,0.889l0,9.34c0,0.323 -0.229,0.453 -0.506,0.284l-7.76,-4.608c-0.276,-0.169 -0.502,-0.567 -0.502,-0.89l0,-9.34c0,-0.325 0.226,-0.452 0.502,-0.287l7.76,4.612Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M351.904,626.167c0.461,0.277 0.843,0.939 0.843,1.482l0,15.565c0,0.539 -0.382,0.754 -0.843,0.474l-12.93,-7.682c-0.461,-0.28 -0.839,-0.942 -0.839,-1.481l0,-15.565c0,-0.543 0.378,-0.755 0.839,-0.477l12.93,7.684Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M402.559,583.803c-0.462,0.277 -0.844,0.939 -0.844,1.482l0,15.564c0,0.539 0.382,0.754 0.844,0.474l12.929,-7.68c0.462,-0.282 0.839,-0.944 0.839,-1.481l0,-15.567c0,-0.541 -0.377,-0.753 -0.839,-0.477l-12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M444.867,527.662c-0.462,0.277 -0.843,0.938 -0.843,1.483l0,15.564c0,0.538 0.381,0.755 0.843,0.473l12.929,-7.68c0.462,-0.282 0.84,-0.942 0.84,-1.482l0,-15.565c0,-0.543 -0.378,-0.755 -0.84,-0.477l-12.929,7.684Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M685.636,415.634c-0.277,0.168 -0.505,0.565 -0.505,0.889l0,9.342c0,0.323 0.228,0.452 0.505,0.282l7.758,-4.608c0.277,-0.168 0.504,-0.566 0.504,-0.89l0,-9.34c0,-0.324 -0.227,-0.451 -0.504,-0.285l-7.758,4.61Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M685.636,589.281c-0.277,0.167 -0.505,0.565 -0.505,0.889l0,9.342c0,0.323 0.228,0.451 0.505,0.282l7.758,-4.608c0.277,-0.168 0.504,-0.566 0.504,-0.89l0,-9.34c0,-0.324 -0.227,-0.451 -0.504,-0.285l-7.758,4.61Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M510.219,575.569c-0.462,0.277 -0.844,0.939 -0.844,1.482l0,15.564c0,0.54 0.382,0.755 0.844,0.474l12.929,-7.68c0.462,-0.282 0.839,-0.944 0.839,-1.482l0,-15.566c0,-0.542 -0.377,-0.755 -0.839,-0.477l-12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M683.824,355.152c-0.462,0.277 -0.844,0.939 -0.844,1.482l0,15.564c0,0.539 0.382,0.755 0.844,0.474l12.929,-7.681c0.461,-0.281 0.839,-0.943 0.839,-1.482l0,-15.565c0,-0.542 -0.378,-0.755 -0.839,-0.477l-12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M618.747,421.898c-0.46,0.277 -0.842,0.937 -0.842,1.481l0,15.565c0,0.539 0.382,0.754 0.842,0.472l12.93,-7.68c0.461,-0.28 0.84,-0.942 0.84,-1.481l0,-15.566c0,-0.541 -0.379,-0.754 -0.84,-0.477l-12.93,7.686Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M618.747,450.374c-0.46,0.276 -0.843,0.938 -0.843,1.482l0,15.564c0,0.54 0.383,0.755 0.843,0.473l12.93,-7.68c0.461,-0.28 0.84,-0.942 0.84,-1.482l0,-15.564c0,-0.543 -0.379,-0.755 -0.84,-0.478l-12.93,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M618.248,684.188c-0.461,0.277 -0.843,0.937 -0.843,1.481l0,15.565c0,0.538 0.382,0.755 0.843,0.472l12.93,-7.68c0.461,-0.28 0.839,-0.942 0.839,-1.481l0,-15.565c0,-0.542 -0.378,-0.755 -0.839,-0.478l-12.93,7.686Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M579.068,304.087c-0.278,0.167 -0.505,0.564 -0.505,0.889l0,9.341c0,0.323 0.227,0.453 0.505,0.284l7.758,-4.609c0.277,-0.169 0.502,-0.566 0.502,-0.89l0,-9.34c0,-0.325 -0.225,-0.452 -0.502,-0.285l-7.758,4.61Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M576.482,332.037c-0.461,0.277 -0.843,0.939 -0.843,1.482l0,15.565c0,0.538 0.382,0.754 0.843,0.474l12.93,-7.682c0.461,-0.281 0.839,-0.942 0.839,-1.481l0,-15.565c0,-0.543 -0.378,-0.755 -0.839,-0.477l-12.93,7.684Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M576.149,507.088c-0.462,0.277 -0.844,0.938 -0.844,1.482l0,15.564c0,0.539 0.382,0.755 0.844,0.474l12.929,-7.682c0.462,-0.28 0.84,-0.941 0.84,-1.481l0,-15.565c0,-0.542 -0.378,-0.755 -0.84,-0.477l-12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M446.519,615.196c-0.462,0.276 -0.844,0.938 -0.844,1.482l0,15.565c0,0.537 0.382,0.754 0.844,0.472l12.929,-7.68c0.462,-0.282 0.84,-0.943 0.84,-1.481l0,-15.566c0,-0.542 -0.378,-0.754 -0.84,-0.477l-12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M596.951,581.388c-0.461,0.277 -0.843,0.939 -0.843,1.482l0,15.566c0,0.537 0.382,0.753 0.843,0.472l12.93,-7.68c0.461,-0.282 0.838,-0.944 0.838,-1.481l0,-15.567c0,-0.541 -0.377,-0.754 -0.838,-0.477l-12.93,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M532.884,679.142c-0.462,0.277 -0.844,0.938 -0.844,1.481l0,15.565c0,0.539 0.382,0.755 0.844,0.473l12.929,-7.68c0.462,-0.281 0.839,-0.943 0.839,-1.481l0,-15.567c0,-0.541 -0.377,-0.754 -0.839,-0.477l-12.929,7.686Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M425.289,656.125c-0.462,0.277 -0.843,0.937 -0.843,1.482l0,15.565c0,0.538 0.381,0.754 0.843,0.472l12.929,-7.681c0.462,-0.28 0.84,-0.942 0.84,-1.48l0,-15.566c0,-0.542 -0.378,-0.754 -0.84,-0.477l-12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M708.295,515.19c-0.276,0.168 -0.504,0.565 -0.504,0.889l0,9.341c0,0.323 0.228,0.453 0.504,0.285l7.76,-4.61c0.277,-0.168 0.503,-0.565 0.503,-0.888l0,-9.341c0,-0.325 -0.226,-0.452 -0.503,-0.286l-7.76,4.61Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M708.295,605.626c-0.276,0.166 -0.504,0.564 -0.504,0.889l0,9.34c0,0.324 0.228,0.454 0.504,0.284l7.76,-4.608c0.277,-0.169 0.503,-0.566 0.503,-0.89l0,-9.34c0,-0.325 -0.226,-0.453 -0.503,-0.285l-7.76,4.61Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M219.682,432.293c0.462,0.278 0.843,0.94 0.843,1.482l0,15.566c0,0.538 -0.381,0.755 -0.843,0.473l-12.929,-7.68c-0.462,-0.282 -0.84,-0.944 -0.84,-1.481l0,-15.567c0,-0.542 0.378,-0.753 0.84,-0.477l12.929,7.684Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M468.515,485.347c-0.462,0.276 -0.844,0.938 -0.844,1.482l0,15.564c0,0.54 0.382,0.755 0.844,0.473l12.928,-7.68c0.463,-0.28 0.84,-0.942 0.84,-1.481l0,-15.565c0,-0.543 -0.377,-0.755 -0.84,-0.478l-12.928,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M87.973,500.15c0.267,0.16 0.487,0.542 0.487,0.856l0,8.986c0,0.31 -0.22,0.435 -0.487,0.273l-7.464,-4.435c-0.266,-0.163 -0.485,-0.544 -0.485,-0.855l0,-8.985c0,-0.313 0.219,-0.436 0.485,-0.277l7.464,4.437Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M109.544,369.421c0.275,0.166 0.501,0.559 0.501,0.882l0,9.267c0,0.32 -0.226,0.449 -0.501,0.282l-7.697,-4.572c-0.276,-0.169 -0.501,-0.562 -0.501,-0.883l0,-9.266c0,-0.323 0.225,-0.45 0.501,-0.285l7.697,4.575Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M109.613,659.587c0.275,0.165 0.5,0.559 0.5,0.883l0,9.266c0,0.321 -0.225,0.45 -0.5,0.281l-7.698,-4.572c-0.275,-0.167 -0.5,-0.562 -0.5,-0.881l0,-9.268c0,-0.323 0.225,-0.449 0.5,-0.283l7.698,4.574Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M87.973,560.873c0.267,0.161 0.487,0.542 0.487,0.855l0,8.987c0,0.31 -0.22,0.435 -0.487,0.272l-7.464,-4.433c-0.266,-0.163 -0.485,-0.545 -0.485,-0.856l0,-8.985c0,-0.314 0.219,-0.436 0.485,-0.277l7.464,4.437Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M65.39,606.638c0.267,0.161 0.487,0.543 0.487,0.856l0,8.986c0,0.312 -0.22,0.435 -0.487,0.273l-7.463,-4.433c-0.267,-0.163 -0.486,-0.545 -0.486,-0.856l0,-8.986c0,-0.313 0.219,-0.435 0.486,-0.276l7.463,4.436Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M65.39,401.663c0.267,0.159 0.487,0.542 0.487,0.855l0,8.985c0,0.312 -0.22,0.437 -0.487,0.274l-7.463,-4.434c-0.267,-0.162 -0.486,-0.544 -0.486,-0.856l0,-8.985c0,-0.313 0.219,-0.435 0.486,-0.276l7.463,4.437Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M515.95,170.243c0.307,0.184 0.811,0.184 1.124,0l13.563,-8.07c0.31,-0.184 0.31,-0.485 0,-0.67l-13.563,-8.061c-0.313,-0.18 -0.817,-0.18 -1.124,0l-13.568,8.061c-0.308,0.185 -0.308,0.486 0,0.67l13.568,8.07Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M283.579,384.272c0.462,0.277 0.843,0.939 0.843,1.481l0,15.566c0,0.539 -0.381,0.755 -0.843,0.473l-12.929,-7.68c-0.461,-0.282 -0.839,-0.944 -0.839,-1.482l0,-15.566c0,-0.542 0.378,-0.755 0.839,-0.477l12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M421.473,424.706c-0.461,0.277 -0.843,0.938 -0.843,1.482l0,15.565c0,0.538 0.382,0.754 0.843,0.473l12.93,-7.681c0.461,-0.281 0.839,-0.942 0.839,-1.481l0,-15.566c0,-0.542 -0.378,-0.754 -0.839,-0.477l-12.93,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M240.606,328.775c0.46,0.277 0.842,0.937 0.842,1.482l0,15.565c0,0.538 -0.382,0.754 -0.842,0.473l-12.93,-7.682c-0.461,-0.28 -0.839,-0.941 -0.839,-1.48l0,-15.566c0,-0.542 0.378,-0.754 0.839,-0.477l12.93,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M407.085,208.531c0.307,0.185 0.811,0.185 1.123,0l13.564,-8.068c0.309,-0.185 0.309,-0.487 0,-0.67l-13.564,-8.062c-0.312,-0.181 -0.816,-0.181 -1.123,0l-13.569,8.062c-0.308,0.183 -0.308,0.485 0,0.67l13.569,8.068Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M262.673,399.39c0.462,0.277 0.843,0.937 0.843,1.481l0,15.565c0,0.539 -0.381,0.755 -0.843,0.473l-12.929,-7.681c-0.462,-0.28 -0.839,-0.942 -0.839,-1.481l0,-15.565c0,-0.542 0.377,-0.755 0.839,-0.478l12.929,7.686Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M342.355,274.733c0.307,0.185 0.81,0.185 1.123,0l13.564,-8.07c0.309,-0.184 0.309,-0.484 0,-0.668l-13.564,-8.062c-0.313,-0.18 -0.816,-0.18 -1.123,0l-13.569,8.062c-0.308,0.184 -0.308,0.484 0,0.668l13.569,8.07Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M260.67,268.816c0.188,0.113 0.497,0.113 0.688,0l8.312,-4.944c0.188,-0.114 0.188,-0.298 0,-0.411l-8.312,-4.94c-0.191,-0.111 -0.5,-0.111 -0.688,0l-8.314,4.94c-0.189,0.113 -0.189,0.297 0,0.411l8.314,4.944Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M343.225,195.367c0.307,0.185 0.811,0.185 1.123,0l13.564,-8.069c0.308,-0.185 0.308,-0.485 0,-0.668l-13.564,-8.062c-0.312,-0.181 -0.816,-0.181 -1.123,0l-13.569,8.062c-0.309,0.183 -0.309,0.483 0,0.668l13.569,8.069Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M305.077,454.094c0.461,0.277 0.842,0.939 0.842,1.482l0,15.564c0,0.54 -0.381,0.755 -0.842,0.474l-12.929,-7.681c-0.462,-0.28 -0.84,-0.942 -0.84,-1.482l0,-15.564c0,-0.543 0.378,-0.755 0.84,-0.478l12.929,7.685Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M423.88,482.466c-0.462,0.277 -0.843,0.94 -0.843,1.482l0,15.566c0,0.538 0.381,0.753 0.843,0.473l12.929,-7.68c0.462,-0.282 0.839,-0.944 0.839,-1.482l0,-15.566c0,-0.542 -0.377,-0.753 -0.839,-0.477l-12.929,7.684Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M400.713,584.776c-0.462,0.277 -0.843,0.94 -0.843,1.482l0,15.565c0,0.539 0.381,0.754 0.843,0.474l12.929,-7.68c0.462,-0.282 0.839,-0.944 0.839,-1.482l0,-15.566c0,-0.542 -0.377,-0.753 -0.839,-0.477l-12.929,7.684Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M198.998,506.119c0.462,0.277 0.844,0.94 0.844,1.482l0,15.565c0,0.539 -0.382,0.754 -0.844,0.474l-12.929,-7.682c-0.462,-0.28 -0.84,-0.942 -0.84,-1.479l0,-15.567c0,-0.542 0.378,-0.754 0.84,-0.477l12.929,7.684Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M330.862,557.227c0.462,0.277 0.844,0.94 0.844,1.482l0,15.565c0,0.539 -0.382,0.754 -0.844,0.474l-12.929,-7.682c-0.462,-0.28 -0.84,-0.942 -0.84,-1.479l0,-15.567c0,-0.542 0.378,-0.754 0.84,-0.477l12.929,7.684Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M176.998,441.368c0.462,0.277 0.844,0.94 0.844,1.483l0,15.565c0,0.538 -0.382,0.754 -0.844,0.473l-12.929,-7.681c-0.462,-0.281 -0.84,-0.942 -0.84,-1.48l0,-15.566c0,-0.542 0.378,-0.754 0.84,-0.477l12.929,7.683Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M176.998,291.335c0.462,0.277 0.844,0.94 0.844,1.482l0,15.565c0,0.539 -0.382,0.754 -0.844,0.474l-12.929,-7.682c-0.462,-0.28 -0.84,-0.942 -0.84,-1.479l0,-15.567c0,-0.542 0.378,-0.754 0.84,-0.477l12.929,7.684Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M216.617,375.511c0.277,0.167 0.506,0.563 0.506,0.89l0,9.346c0,0.324 -0.229,0.453 -0.506,0.285l-7.765,-4.613c-0.277,-0.168 -0.503,-0.565 -0.503,-0.889l0,-9.347c0,-0.325 0.226,-0.452 0.503,-0.286l7.765,4.614Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M241.942,535.511c0.277,0.167 0.506,0.563 0.506,0.89l0,9.346c0,0.324 -0.229,0.453 -0.506,0.285l-7.765,-4.613c-0.277,-0.168 -0.503,-0.565 -0.503,-0.889l0,-9.347c0,-0.325 0.226,-0.452 0.503,-0.286l7.765,4.614Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
            <path d="M364.922,610.954c0.277,0.167 0.506,0.563 0.506,0.89l0,9.346c0,0.324 -0.229,0.453 -0.506,0.285l-7.765,-4.613c-0.277,-0.168 -0.503,-0.565 -0.503,-0.889l0,-9.347c0,-0.325 0.226,-0.452 0.503,-0.286l7.765,4.614Z" style="fill:#1d9ad6;fill-rule:nonzero;"/>
         </g>
         <g>
            <g opacity="0.6">
               <g>
                  <path d="M260.233,264.562l-42.568,26.337c0,0 -4.272,2.058 -4.272,7.241l0,78.427" style="fill:none;stroke:#86ccea;stroke-width:1px;"/>
                  <path d="M432.031,486.736l-37.471,23.491c0,0 -4.031,2.894 -7.547,0.516l-85.298,-51.608" style="fill:none;stroke:#86ccea;stroke-width:1.98px;"/>
                  <path d="M429.622,428.916l-37.47,23.492c0,0 -4.033,2.895 -7.548,0.516l-106.852,-63.837" style="fill:none;stroke:#86ccea;stroke-width:1.98px;"/>
                  <path d="M345.023,186.865l-147.574,89.658c0,0 -4.271,2.058 -4.271,7.238l0,228.457" style="fill:none;stroke:#86ccea;stroke-width:1.98px;"/>
                  <path d="M412.576,197.804l-173.494,104.953c0,0 -4.273,2.059 -4.273,7.241l0,23.712" style="fill:none;stroke:#86ccea;stroke-width:1.98px;"/>
                  <path d="M343.65,265.758l-82.48,49.885c0,0 -4.272,2.058 -4.272,7.24l0,76.145" style="fill:none;stroke:#86ccea;stroke-width:1.98px;"/>
                  <path d="M170.741,293.737l0,146.111" style="fill:none;stroke:#86ccea;stroke-width:1.98px;"/>
                  <path d="M412.602,586.246l-20.17,12.254c0,0 -3.782,2.151 -7.297,-0.226l-61.971,-37.632" style="fill:none;stroke:#86ccea;stroke-width:1.98px;"/>
                  <path d="M236.15,536.717l128.853,79.52" style="fill:none;stroke:#86ccea;stroke-width:1.16px;"/>
               </g>
               <g>
                  <path d="M283.579,384.272c0.462,0.277 0.843,0.939 0.843,1.481l0,15.566c0,0.539 -0.381,0.755 -0.843,0.473l-12.929,-7.68c-0.461,-0.282 -0.839,-0.944 -0.839,-1.482l0,-15.566c0,-0.542 0.378,-0.755 0.839,-0.477l12.929,7.685Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M421.473,424.706c-0.461,0.277 -0.843,0.938 -0.843,1.482l0,15.565c0,0.538 0.382,0.754 0.843,0.473l12.93,-7.681c0.461,-0.281 0.839,-0.942 0.839,-1.481l0,-15.566c0,-0.542 -0.378,-0.754 -0.839,-0.477l-12.93,7.685Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M240.606,328.775c0.46,0.277 0.842,0.937 0.842,1.482l0,15.565c0,0.538 -0.382,0.754 -0.842,0.473l-12.93,-7.682c-0.461,-0.28 -0.839,-0.941 -0.839,-1.48l0,-15.566c0,-0.542 0.378,-0.754 0.839,-0.477l12.93,7.685Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M407.085,208.531c0.307,0.185 0.811,0.185 1.123,0l13.564,-8.068c0.309,-0.185 0.309,-0.487 0,-0.67l-13.564,-8.062c-0.312,-0.181 -0.816,-0.181 -1.123,0l-13.569,8.062c-0.308,0.183 -0.308,0.485 0,0.67l13.569,8.068Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M262.673,399.39c0.462,0.277 0.843,0.937 0.843,1.481l0,15.565c0,0.539 -0.381,0.755 -0.843,0.473l-12.929,-7.681c-0.462,-0.28 -0.839,-0.942 -0.839,-1.481l0,-15.565c0,-0.542 0.377,-0.755 0.839,-0.478l12.929,7.686Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M342.355,274.733c0.307,0.185 0.81,0.185 1.123,0l13.564,-8.07c0.309,-0.184 0.309,-0.484 0,-0.668l-13.564,-8.062c-0.313,-0.18 -0.816,-0.18 -1.123,0l-13.569,8.062c-0.308,0.184 -0.308,0.484 0,0.668l13.569,8.07Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M260.67,268.816c0.188,0.113 0.497,0.113 0.688,0l8.312,-4.944c0.188,-0.114 0.188,-0.298 0,-0.411l-8.312,-4.94c-0.191,-0.111 -0.5,-0.111 -0.688,0l-8.314,4.94c-0.189,0.113 -0.189,0.297 0,0.411l8.314,4.944Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M343.225,195.367c0.307,0.185 0.811,0.185 1.123,0l13.564,-8.069c0.308,-0.185 0.308,-0.485 0,-0.668l-13.564,-8.062c-0.312,-0.181 -0.816,-0.181 -1.123,0l-13.569,8.062c-0.309,0.183 -0.309,0.483 0,0.668l13.569,8.069Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M305.077,454.094c0.461,0.277 0.842,0.939 0.842,1.482l0,15.564c0,0.54 -0.381,0.755 -0.842,0.474l-12.929,-7.681c-0.462,-0.28 -0.84,-0.942 -0.84,-1.482l0,-15.564c0,-0.543 0.378,-0.755 0.84,-0.478l12.929,7.685Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M423.88,482.466c-0.462,0.277 -0.843,0.94 -0.843,1.482l0,15.566c0,0.538 0.381,0.753 0.843,0.473l12.929,-7.68c0.462,-0.282 0.839,-0.944 0.839,-1.482l0,-15.566c0,-0.542 -0.377,-0.753 -0.839,-0.477l-12.929,7.684Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M400.713,584.776c-0.462,0.277 -0.843,0.94 -0.843,1.482l0,15.565c0,0.539 0.381,0.754 0.843,0.474l12.929,-7.68c0.462,-0.282 0.839,-0.944 0.839,-1.482l0,-15.566c0,-0.542 -0.377,-0.753 -0.839,-0.477l-12.929,7.684Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M198.998,506.119c0.462,0.277 0.844,0.94 0.844,1.482l0,15.565c0,0.539 -0.382,0.754 -0.844,0.474l-12.929,-7.682c-0.462,-0.28 -0.84,-0.942 -0.84,-1.479l0,-15.567c0,-0.542 0.378,-0.754 0.84,-0.477l12.929,7.684Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M330.862,557.227c0.462,0.277 0.844,0.94 0.844,1.482l0,15.565c0,0.539 -0.382,0.754 -0.844,0.474l-12.929,-7.682c-0.462,-0.28 -0.84,-0.942 -0.84,-1.479l0,-15.567c0,-0.542 0.378,-0.754 0.84,-0.477l12.929,7.684Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M176.998,441.368c0.462,0.277 0.844,0.94 0.844,1.483l0,15.565c0,0.538 -0.382,0.754 -0.844,0.473l-12.929,-7.681c-0.462,-0.281 -0.84,-0.942 -0.84,-1.48l0,-15.566c0,-0.542 0.378,-0.754 0.84,-0.477l12.929,7.683Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M176.998,291.335c0.462,0.277 0.844,0.94 0.844,1.482l0,15.565c0,0.539 -0.382,0.754 -0.844,0.474l-12.929,-7.682c-0.462,-0.28 -0.84,-0.942 -0.84,-1.479l0,-15.567c0,-0.542 0.378,-0.754 0.84,-0.477l12.929,7.684Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M216.617,375.511c0.277,0.167 0.506,0.563 0.506,0.89l0,9.346c0,0.324 -0.229,0.453 -0.506,0.285l-7.765,-4.613c-0.277,-0.168 -0.503,-0.565 -0.503,-0.889l0,-9.347c0,-0.325 0.226,-0.452 0.503,-0.286l7.765,4.614Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M241.942,535.511c0.277,0.167 0.506,0.563 0.506,0.89l0,9.346c0,0.324 -0.229,0.453 -0.506,0.285l-7.765,-4.613c-0.277,-0.168 -0.503,-0.565 -0.503,-0.889l0,-9.347c0,-0.325 0.226,-0.452 0.503,-0.286l7.765,4.614Z" style="fill:#86ccea;fill-rule:nonzero;"/>
                  <path d="M364.922,610.954c0.277,0.167 0.506,0.563 0.506,0.89l0,9.346c0,0.324 -0.229,0.453 -0.506,0.285l-7.765,-4.613c-0.277,-0.168 -0.503,-0.565 -0.503,-0.889l0,-9.347c0,-0.325 0.226,-0.452 0.503,-0.286l7.765,4.614Z" style="fill:#86ccea;fill-rule:nonzero;"/>
               </g>
            </g>
         </g>
      </g>
   </g>
</svg>