<?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg id='svg_2' width="100%" height="100%" viewBox="0 0 1191 842" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:10;">
   <g id="cube_01">
      <path d="M457.406,504.51c0.397,0.238 0.725,0.808 0.725,1.274l0,13.391c0,0.464 -0.328,0.649 -0.725,0.407l-11.123,-6.607c-0.398,-0.242 -0.723,-0.811 -0.723,-1.275l0,-13.39c0,-0.467 0.325,-0.65 0.723,-0.411l11.123,6.611Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M693.601,491.507l-70.106,41.559c0,0 -3.909,2.133 -7.553,-0.177l-145.653,-87.54" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M475.2,440.995c0.397,0.238 0.725,0.808 0.725,1.275l0,13.39c0,0.464 -0.328,0.649 -0.725,0.408l-11.124,-6.608c-0.397,-0.242 -0.722,-0.811 -0.722,-1.275l0,-13.391c0,-0.466 0.325,-0.649 0.722,-0.411l11.124,6.612Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M689.277,486.638c-0.398,0.238 -0.725,0.807 -0.725,1.274l0,13.391c0,0.464 0.327,0.649 0.725,0.407l11.123,-6.608c0.398,-0.242 0.723,-0.811 0.723,-1.275l0,-13.391c0,-0.466 -0.325,-0.648 -0.723,-0.41l-11.123,6.612Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M725.156,564.259c-0.398,0.238 -0.725,0.808 -0.725,1.274l0,13.391c0,0.464 0.327,0.649 0.725,0.407l11.123,-6.608c0.398,-0.242 0.723,-0.81 0.723,-1.274l0,-13.391c0,-0.467 -0.325,-0.649 -0.723,-0.411l-11.123,6.612Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M784.388,330.696c-0.238,0.142 -0.435,0.485 -0.435,0.765l0,8.035c0,0.278 0.197,0.389 0.435,0.244l6.674,-3.965c0.239,-0.145 0.433,-0.487 0.433,-0.765l0,-8.036c0,-0.28 -0.194,-0.389 -0.433,-0.245l-6.674,3.967Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M782.164,354.741c-0.397,0.238 -0.725,0.808 -0.725,1.275l0,13.391c0,0.463 0.328,0.648 0.725,0.406l11.123,-6.608c0.398,-0.241 0.723,-0.81 0.723,-1.273l0,-13.392c0,-0.467 -0.325,-0.649 -0.723,-0.41l-11.123,6.611Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M781.877,505.342c-0.396,0.238 -0.725,0.808 -0.725,1.274l0,13.392c0,0.463 0.329,0.648 0.725,0.406l11.124,-6.608c0.397,-0.242 0.722,-0.81 0.722,-1.275l0,-13.39c0,-0.466 -0.325,-0.648 -0.722,-0.411l-11.124,6.612Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M670.353,598.35c-0.398,0.239 -0.726,0.808 -0.726,1.275l0,13.39c0,0.464 0.328,0.65 0.726,0.408l11.123,-6.608c0.398,-0.241 0.722,-0.811 0.722,-1.275l0,-13.39c0,-0.466 -0.324,-0.649 -0.722,-0.411l-11.123,6.611Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M675.581,602.593l-51.608,29.516c0,0 -3.25,1.849 -6.272,-0.195l-34.907,-19.601" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M548.327,459.652c0.397,0.239 0.725,0.809 0.725,1.275l0,13.391c0,0.463 -0.328,0.649 -0.725,0.407l-11.124,-6.608c-0.396,-0.242 -0.721,-0.811 -0.721,-1.275l0,-13.391c0,-0.466 0.325,-0.648 0.721,-0.41l11.124,6.611Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M650.877,484.161c-0.397,0.238 -0.725,0.808 -0.725,1.274l0,13.391c0,0.464 0.328,0.649 0.725,0.407l11.123,-6.607c0.398,-0.243 0.723,-0.811 0.723,-1.275l0,-13.39c0,-0.468 -0.325,-0.65 -0.723,-0.412l-11.123,6.612Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M657.308,487.725l-32.205,20.189c0,0 -3.466,2.488 -6.487,0.444l-73.312,-44.355" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M675.341,526.995l-53.038,31.318c0,0 -3.466,2.488 -6.488,0.444l-89.571,-54.861" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M530.173,399.68c0.397,0.239 0.725,0.808 0.725,1.274l0,13.392c0,0.464 -0.328,0.649 -0.725,0.407l-11.123,-6.608c-0.398,-0.241 -0.723,-0.811 -0.723,-1.274l0,-13.391c0,-0.467 0.325,-0.649 0.723,-0.411l11.123,6.611Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M648.807,434.467c-0.398,0.238 -0.726,0.808 -0.726,1.275l0,13.39c0,0.464 0.328,0.649 0.726,0.407l11.123,-6.608c0.397,-0.241 0.721,-0.81 0.721,-1.275l0,-13.391c0,-0.466 -0.324,-0.648 -0.721,-0.41l-11.123,6.612Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M655.237,438.03l-32.205,20.191c0,0 -3.466,2.488 -6.488,0.443l-91.836,-54.866" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M548.283,608.522c0.397,0.238 0.726,0.807 0.726,1.274l0,13.391c0,0.464 -0.329,0.649 -0.726,0.407l-11.123,-6.608c-0.397,-0.241 -0.721,-0.811 -0.721,-1.275l0,-13.39c0,-0.466 0.324,-0.649 0.721,-0.411l11.123,6.612Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M651.449,633.338c-0.397,0.238 -0.725,0.808 -0.725,1.275l0,13.39c0,0.464 0.328,0.649 0.725,0.407l11.124,-6.608c0.397,-0.241 0.722,-0.81 0.722,-1.275l0,-13.39c0,-0.466 -0.325,-0.649 -0.722,-0.411l-11.124,6.612Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M656.482,638.476l-32.355,19.131c0,0 -3.466,2.489 -6.487,0.446l-73.312,-44.356" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M601.787,666.534c0.397,0.238 0.726,0.809 0.726,1.275l0,13.391c0,0.463 -0.329,0.649 -0.726,0.407l-11.123,-6.608c-0.398,-0.242 -0.721,-0.811 -0.721,-1.274l0,-13.392c0,-0.466 0.323,-0.649 0.721,-0.41l11.123,6.611Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M799.935,568.747c-0.397,0.238 -0.725,0.808 -0.725,1.275l0,13.39c0,0.464 0.328,0.649 0.725,0.407l11.124,-6.608c0.397,-0.241 0.722,-0.81 0.722,-1.274l0,-13.391c0,-0.467 -0.325,-0.649 -0.722,-0.411l-11.124,6.612Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M804.191,573.934l-180.64,108.559c0,0 -3.466,2.488 -6.487,0.444l-18.058,-11.408" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M582.527,229.993l-126.837,77.06c0,0 -3.672,1.768 -3.672,6.221l0,196.353" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M674.721,353.837l15.148,9.163c0,0 3.672,1.769 3.672,6.223l0,70.45" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M620.758,275.835l106.903,64.387c0,0 3.672,1.768 3.672,6.222l0,220.934" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M654.701,321.922l-88.394,52.929c0,0 -3.671,1.768 -3.671,6.221l0,20.381" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M568.038,397.185c0.396,0.238 0.725,0.808 0.725,1.274l0,13.391c0,0.464 -0.329,0.649 -0.725,0.407l-11.124,-6.608c-0.397,-0.241 -0.722,-0.81 -0.722,-1.274l0,-13.392c0,-0.466 0.325,-0.648 0.722,-0.41l11.124,6.612Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M656.152,327.964c0.264,0.158 0.698,0.158 0.966,0l11.67,-6.942c0.265,-0.16 0.265,-0.418 0,-0.577l-11.67,-6.936c-0.268,-0.154 -0.702,-0.154 -0.966,0l-11.674,6.936c-0.264,0.159 -0.264,0.417 0,0.577l11.674,6.942Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M640.588,239.396l-149.116,90.205c0,0 -3.672,1.768 -3.672,6.221l0,20.381" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M493.201,351.935c0.397,0.238 0.726,0.808 0.726,1.275l0,13.391c0,0.463 -0.329,0.648 -0.726,0.406l-11.123,-6.608c-0.398,-0.241 -0.722,-0.81 -0.722,-1.273l0,-13.391c0,-0.467 0.324,-0.65 0.722,-0.411l11.123,6.611Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M636.427,248.487c0.265,0.158 0.699,0.158 0.968,0l11.67,-6.942c0.264,-0.16 0.264,-0.418 0,-0.577l-11.67,-6.936c-0.269,-0.154 -0.703,-0.154 -0.968,0l-11.673,6.936c-0.264,0.159 -0.264,0.417 0,0.577l11.673,6.942Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M581.347,297.799l-70.89,42.876c0,0 -3.672,1.768 -3.672,6.222l0,65.446" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M512.186,412.687c0.397,0.238 0.726,0.808 0.726,1.275l0,13.391c0,0.463 -0.329,0.648 -0.726,0.406l-11.123,-6.607c-0.398,-0.242 -0.722,-0.811 -0.722,-1.274l0,-13.391c0,-0.466 0.324,-0.65 0.722,-0.41l11.123,6.61Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M580.739,305.442c0.264,0.158 0.698,0.158 0.967,0l11.669,-6.942c0.265,-0.16 0.265,-0.418 0,-0.576l-11.669,-6.937c-0.27,-0.154 -0.703,-0.154 -0.967,0l-11.674,6.937c-0.265,0.158 -0.265,0.416 0,0.576l11.674,6.942Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M674.795,361.312c0.265,0.158 0.699,0.158 0.967,0l11.67,-6.942c0.264,-0.16 0.264,-0.418 0,-0.576l-11.67,-6.937c-0.268,-0.154 -0.702,-0.154 -0.967,0l-11.673,6.937c-0.265,0.158 -0.265,0.416 0,0.576l11.673,6.942Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M693.983,252.605l89.479,53.102c0,0 3.67,1.77 3.67,6.223l0,22.503" style="fill:none;stroke:#1c9ad6;stroke-width:0.95px;"/>
      <path d="M693.008,257.413c0.162,0.098 0.427,0.098 0.591,0l7.145,-4.25c0.162,-0.098 0.162,-0.257 0,-0.354l-7.146,-4.247c-0.164,-0.094 -0.429,-0.094 -0.591,0l-7.147,4.247c-0.164,0.097 -0.164,0.256 0,0.354l7.147,4.25l0.001,0Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M618.555,282.751c0.265,0.158 0.699,0.158 0.967,0l11.669,-6.942c0.265,-0.159 0.265,-0.417 0,-0.576l-11.669,-6.937c-0.268,-0.154 -0.702,-0.154 -0.967,0l-11.673,6.937c-0.265,0.159 -0.265,0.417 0,0.576l11.673,6.942Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M582.154,207.731l-130.53,78.871" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M450.939,293.791c0.265,0.158 0.698,0.158 0.967,0l11.669,-6.942c0.265,-0.16 0.265,-0.418 0,-0.577l-11.669,-6.936c-0.269,-0.155 -0.702,-0.155 -0.967,0l-11.673,6.936c-0.265,0.159 -0.265,0.417 0,0.577l11.673,6.942Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M581.376,215.204c0.265,0.158 0.699,0.158 0.968,0l11.669,-6.942c0.265,-0.159 0.265,-0.417 0,-0.576l-11.669,-6.936c-0.269,-0.155 -0.703,-0.155 -0.968,0l-11.672,6.936c-0.265,0.159 -0.265,0.417 0,0.576l11.672,6.942Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M619.264,298.286l-74.747,44.978" style="fill:none;stroke:#1c9ad6;stroke-width:1.52px;"/>
      <path d="M543.833,350.452c0.264,0.159 0.698,0.159 0.966,0l11.67,-6.942c0.264,-0.159 0.264,-0.417 0,-0.576l-11.67,-6.936c-0.268,-0.155 -0.702,-0.155 -0.966,0l-11.673,6.936c-0.265,0.159 -0.265,0.417 0,0.576l11.673,6.942Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M618.995,305.726c0.265,0.159 0.699,0.159 0.967,0l11.67,-6.941c0.265,-0.159 0.265,-0.417 0,-0.577l-11.67,-6.936c-0.268,-0.155 -0.702,-0.155 -0.967,0l-11.673,6.936c-0.264,0.16 -0.264,0.418 0,0.577l11.673,6.941Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M581.487,237.162c0.264,0.158 0.698,0.158 0.966,0l11.67,-6.942c0.265,-0.159 0.265,-0.418 0,-0.576l-11.67,-6.936c-0.268,-0.156 -0.702,-0.156 -0.966,0l-11.673,6.936c-0.265,0.158 -0.265,0.417 0,0.576l11.673,6.942Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M567.401,646.571c0.397,0.238 0.726,0.809 0.726,1.275l0,13.391c0,0.463 -0.329,0.649 -0.726,0.407l-11.123,-6.607c-0.398,-0.242 -0.722,-0.812 -0.722,-1.275l0,-13.391c0,-0.466 0.324,-0.65 0.722,-0.41l11.123,6.61Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M456.234,579.022c0.397,0.238 0.725,0.807 0.725,1.275l0,13.39c0,0.464 -0.328,0.649 -0.725,0.407l-11.124,-6.608c-0.397,-0.241 -0.722,-0.811 -0.722,-1.275l0,-13.39c0,-0.467 0.325,-0.649 0.722,-0.411l11.124,6.612Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M560.147,649.338l-108.821,-65.755" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M688.394,435.489c-0.398,0.238 -0.725,0.809 -0.725,1.275l0,13.391c0,0.463 0.327,0.649 0.725,0.407l11.123,-6.607c0.398,-0.243 0.723,-0.812 0.723,-1.275l0,-13.391c0,-0.466 -0.325,-0.649 -0.723,-0.41l-11.123,6.61Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M694.488,298.56l51.296,30.859c0,0 3.672,1.768 3.672,6.221l0,70.452" style="fill:none;stroke:#1c9ad6;stroke-width:1.52px;"/>
      <path d="M693.487,305.239c0.264,0.159 0.698,0.159 0.967,0l11.669,-6.941c0.265,-0.16 0.265,-0.418 0,-0.577l-11.669,-6.936c-0.269,-0.155 -0.703,-0.155 -0.967,0l-11.673,6.936c-0.265,0.159 -0.265,0.417 0,0.577l11.673,6.941Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M674.531,246.275c0.163,0.098 0.427,0.098 0.592,0l7.146,-4.251c0.162,-0.098 0.162,-0.256 0,-0.353l-7.146,-4.247c-0.165,-0.095 -0.429,-0.095 -0.592,0l-7.148,4.247c-0.162,0.097 -0.162,0.255 0,0.353l7.148,4.251Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M582.513,190.262c0.161,0.098 0.427,0.098 0.592,0l7.145,-4.251c0.162,-0.097 0.162,-0.256 0,-0.353l-7.145,-4.247c-0.165,-0.094 -0.431,-0.094 -0.592,0l-7.148,4.247c-0.162,0.097 -0.162,0.256 0,0.353l7.148,4.251Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M744.309,401.906c-0.397,0.239 -0.725,0.808 -0.725,1.275l0,13.391c0,0.464 0.328,0.649 0.725,0.407l11.123,-6.608c0.398,-0.241 0.723,-0.811 0.723,-1.274l0,-13.391c0,-0.466 -0.325,-0.649 -0.723,-0.41l-11.123,6.61Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M492.393,528.2c0.238,0.142 0.434,0.485 0.434,0.765l0,8.035c0,0.277 -0.196,0.389 -0.434,0.244l-6.675,-3.965c-0.239,-0.145 -0.433,-0.487 -0.433,-0.765l0,-8.035c0,-0.28 0.194,-0.39 0.433,-0.247l6.675,3.968Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M602.678,596.208c0.238,0.142 0.434,0.485 0.434,0.765l0,8.035c0,0.278 -0.196,0.39 -0.434,0.244l-6.675,-3.965c-0.239,-0.145 -0.433,-0.487 -0.433,-0.765l0,-8.035c0,-0.28 0.194,-0.389 0.433,-0.247l6.675,3.968Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M588.954,607.789c0.397,0.238 0.726,0.808 0.726,1.275l0,13.39c0,0.464 -0.329,0.649 -0.726,0.408l-11.123,-6.608c-0.398,-0.242 -0.722,-0.811 -0.722,-1.275l0,-13.391c0,-0.466 0.324,-0.649 0.722,-0.411l11.123,6.612Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M632.533,571.342c-0.397,0.238 -0.726,0.808 -0.726,1.275l0,13.39c0,0.464 0.329,0.649 0.726,0.407l11.123,-6.607c0.398,-0.241 0.723,-0.811 0.723,-1.275l0,-13.39c0,-0.466 -0.324,-0.65 -0.722,-0.411l-11.123,6.611l-0.001,0Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M668.933,523.043c-0.398,0.239 -0.726,0.808 -0.726,1.275l0,13.39c0,0.465 0.328,0.65 0.726,0.408l11.123,-6.608c0.398,-0.242 0.722,-0.811 0.722,-1.275l0,-13.39c0,-0.467 -0.324,-0.649 -0.722,-0.411l-11.123,6.611Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M640.61,573.252l-17.337,10.531c0,0 -3.251,1.848 -6.272,-0.194l-53.262,-32.343" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M568.619,546.333c0.397,0.238 0.725,0.808 0.725,1.274l0,13.391c0,0.464 -0.328,0.65 -0.725,0.407l-11.124,-6.607c-0.397,-0.242 -0.721,-0.811 -0.721,-1.275l0,-13.39c0,-0.467 0.324,-0.65 0.721,-0.411l11.124,6.611Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M531.52,499.784c0.397,0.238 0.725,0.808 0.725,1.275l0,13.39c0,0.464 -0.328,0.649 -0.725,0.408l-11.123,-6.609c-0.397,-0.241 -0.722,-0.81 -0.722,-1.275l0,-13.39c0,-0.466 0.325,-0.649 0.722,-0.411l11.123,6.612Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M488.954,530.682l110.746,68.346" style="fill:none;stroke:#1c9ad6;stroke-width:0.95px;"/>
      <path d="M787.476,361.484l0,147.667" style="fill:none;stroke:#1c9ad6;stroke-width:1.61px;"/>
      <path d="M764.63,442.674c-0.238,0.142 -0.434,0.484 -0.434,0.765l0,8.036c0,0.277 0.196,0.389 0.434,0.243l6.676,-3.965c0.238,-0.145 0.432,-0.487 0.432,-0.765l0,-8.035c0,-0.28 -0.194,-0.389 -0.432,-0.247l-6.676,3.968Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M764.63,567.554c-0.238,0.142 -0.434,0.484 -0.434,0.765l0,8.035c0,0.277 0.196,0.389 0.434,0.244l6.676,-3.965c0.238,-0.145 0.432,-0.487 0.432,-0.765l0,-8.035c0,-0.28 -0.194,-0.39 -0.432,-0.247l-6.676,3.968Z" style="fill:#1c9ad6;fill-rule:nonzero;"/>
      <path d="M767.718,445.882l0,125.022" style="fill:none;stroke:#1c9ad6;stroke-width:0.95px;"/>
      <path d="M674.691,241.793l-92.711,-56.639" style="fill:none;stroke:#1c9ad6;stroke-width:0.95px;"/>
   </g>
</svg>