extends layout

block title
	title 404

block header
	include blocks/header2

block content
	
	div.container
		div.nothing
			div.nothing__title Ничего </br>не найдено
			a(href="#").nothing__link На главную
