extends layout

block title
	title company

block header
	include blocks/header2

block content

	div(style='background-image:url(assets/images/content/company-start.jpg)').start
		div.start__inner
			div.start__bread
				div.bread
					a(href="#").bread_link Главная
					a(href="#").bread_link Проекты
					a.bread_link Название проекта

			div.start__title заголовок для</br> небольшого видео</br> о компании
			a(href="https://www.youtube.com/watch?v=vjSohj-Iclc").start__play.js-play

	div.about
		div.container
			div.about__inner
				div.about__section
					div.about__section-title о нас
					div.a-articles
						div.a-article
							p Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.
							p Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
							img(src="assets/images/content/c-page_1.jpg", alt="").a-article__img
						div.a-article
							p Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.
							p Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
							img(src="assets/images/content/c-page_1.jpg", alt="").a-article__img

				div.about__section.about__section--blue
					div.about__section-title История компании
					div.h-slider
						div.h-slider__scene.owl-carousel
							div.h-slider__slide
								div.h-slider__date 2009
								div.h-slider__title компания работает на рынке с 2009 года
								div.h-slider__text Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике.
							div.h-slider__slide
								img(src="assets/images/content/c-page_1.jpg", alt="").h-slider__image
								div.h-slider__date 2009
								div.h-slider__title несколько особенно значимых проектов
							div.h-slider__slide
								div.h-slider__date 2009
								div.h-slider__title компания работает на рынке с 2009 года
								div.h-slider__text Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике.
							div.h-slider__slide
								div.h-slider__date 2009
								div.h-slider__title несколько особенно значимых проектов
								div.h-slider__value 86
							div.h-slider__slide
								div.h-slider__date 2009
								div.h-slider__title компания работает на рынке с 2009 года
								div.h-slider__text Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике.
							div.h-slider__slide
								img(src="assets/images/content/c-page_1.jpg", alt="").h-slider__image
								div.h-slider__date 2009
								div.h-slider__title несколько особенно значимых проектов
							div.h-slider__slide
								div.h-slider__date 2009
								div.h-slider__title несколько особенно значимых проектов
								div.h-slider__value 86
							div.h-slider__slide
								div.h-slider__date 2009
								div.h-slider__title компания работает на рынке с 2009 года
								div.h-slider__text Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике.
							div.h-slider__slide
								img(src="assets/images/content/c-page_1.jpg", alt="").h-slider__image
								div.h-slider__date 2009
								div.h-slider__title несколько особенно значимых проектов
						div.h-slider__nav

				div.about__section
					div.about__section-title Лицензии и сертификаты
					div.license
						div.license__row
							div.license__item
								div.license__item-image-wrapper
									img(src="assets/images/content/license_1.jpg", alt="").license__item-image
								div.license__item-content
									div.license__item-title Сертификат соответствия
									div.license__item-text Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике.
							div.license__item
								div.license__item-image-wrapper
									img(src="assets/images/content/license_1.jpg", alt="").license__item-image
								div.license__item-content
									div.license__item-title Сертификат соответствия
									div.license__item-text Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике.
						a(href="#").license__more Все лицензии и сертификаты

				div.about__section.about__section--small
					div.about__section-title Подход к процессу работы
					div.about__section-text
						p Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.
						p Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
				div.about__r-review
					div.r-review
						div.r-review__image-wrapper
							img(src="assets/images/content/r-review__image.png", alt="")
						div.r-review__content
							div.r-review__text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
							div.r-review__note Петр Сергеев, <span>Заведущий кафедрой электроники</span>

				div.about__workers
					div.workers
						div.container
							div.workers__inner
								div.workers__s-name
									div.s-name.s-name--grey наша команда
								div.workers__row
									div.worker
										div(style='background-image: url(assets/images/content/worker.png)').worker__image
										div.worker__position Инженер
										div.worker__name вячеслав клещенок
										a(href="mailto: box@mail.ru").worker__link box@mail.ru
									div.worker
										div(style='background-image: url(assets/images/content/worker.png)').worker__image
										div.worker__position Инженер
										div.worker__name вячеслав клещенок
										a(href="mailto: box@mail.ru").worker__link box@mail.ru
									div.worker
										div(style='background-image: url(assets/images/content/worker.png)').worker__image
										div.worker__position Инженер
										div.worker__name вячеслав клещенок
										a(href="mailto: box@mail.ru").worker__link box@mail.ru
									div.worker
										div(style='background-image: url(assets/images/content/worker.png)').worker__image
										div.worker__position Инженер
										div.worker__name вячеслав клещенок
										a(href="mailto: box@mail.ru").worker__link box@mail.ru
									div.worker
										div(style='background-image: url(assets/images/content/worker.png)').worker__image
										div.worker__position Инженер
										div.worker__name вячеслав клещенок
										a(href="mailto: box@mail.ru").worker__link box@mail.ru
									div.worker
										div(style='background-image: url(assets/images/content/worker.png)').worker__image
										div.worker__position Инженер
										div.worker__name вячеслав клещенок
										a(href="mailto: box@mail.ru").worker__link box@mail.ru

	include blocks/callback



