extends layout

block title
	title contacts

block header
	include blocks/header2

block content
	
	div.container
		div.contacts
			div.contacts__row
				div.contacts__content
					div.contacts__content-top
						div.contacts__bread
							div.bread
								a(href="#").bread_link Главная
								a.bread_link Контакты
						div.contacts__title
							div.p-top__title Контакты

					div.contacts__items
						div.contacts__item
							div.contacts__item-title адрес
							div.contacts__item-addr Санкт-петербург, Лиговский проспект, 7/А
						div.contacts__item
							div.contacts__item-title телефон
							a(href="tel:+7 (900) 999 00 00").contacts__item-link +7 (900) 999 00 00
						div.contacts__item
							div.contacts__item-title электронный адрес
							a(href="mailto:box@mail.ru").contacts__item-link box@mail.ru

					div.contacts__item
						div.contacts__item-title как добраться
						div.contacts__item-text Пошаговая инструкция для начинающих дизайнеров, которым нужно совершить рывок в профессиональном развитии от автора, который только что прошел этот путь. В этой статье я расскажу о шагах, которые предпринимала для достижения своей цели — стать дизайнером. Вы найдёте ссылки на материалы, которые, помогли мне совершить профессиональный рывок. Надеюсь, они будут полезны и для вас.

				div.contacts__map
					div.map#map

	include blocks/callback
