doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible",content="IE=edge')
		meta(name='viewport',content='width=device-width, initial-scale=1')

		block title
			title default title

		link(rel='stylesheet', href='assets/css/main.css')
		link(rel='stylesheet', href='assets/css/media.css')
		link(rel='stylesheet', href='assets/css/lib/owl.carousel.css')
		link(rel='stylesheet', href='assets/css/lib/animate.css')
		link(rel='stylesheet', href='assets/css/lib/youtube.css')

	body
		div.page
			block header
			div.content
				block content
			include blocks/footer

		include blocks/popups

		script(src='assets/js/lib/jquery-3.1.1.min-min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js')
		script(src='assets/js/lib/svg-min.js')
		script(src='assets/js/lib/owl.carousel.min-min.js')
		script(src='assets/js/lib/validate-min.js')
		script(src='assets/js/lib/mask-min.js')
		script(src='assets/js/lib/youtube.js')
		script(src='http://maps.googleapis.com/maps/api/js?sensor=false')
		script(src='assets/js/map.js')
		script(src='assets/js/p-map.js')
		script(src='assets/js/main.js')
