extends layout

block title
	title main

block header
	include blocks/header

block content

	div.section-title
		div.s-name

	div.welcome.js-section
		div.welcome__svg
			div.svg__start
				include blocks/svg
			div.svg__item.svg__item--2.drawn
				include blocks/svg2
			div.svg__item.svg__item--3
				include blocks/svg3

		div.welcome__art
			img(src="assets/images/static/welcome_art_1.svg", alt="").welcome__art-image.welcome__art-image--1
			img(src="assets/images/static/welcome_art_2.svg", alt="").welcome__art-image.welcome__art-image--2

		div.container
			div.w-slider
				div.w-slider__main.w-slider__main--active
					div.w-slider__top виртуальные приборы это
					div.w-slider__title Комплексные промышленные решения
					div.w-slider__text Компания занимается разработкой  и последующей поставкой комплексных промышленных решений для проверки  и тестирования продукции.
				div.w-slider__main
					div.w-slider__top Согласование решения и монтаж 
					div.w-slider__title Согласование решения и монтаж 
					div.w-slider__text Компания занимается разработкой  и последующей поставкой комплексных промышленных решений для проверки  и тестирования продукции.
				div.w-slider__main
					div.w-slider__top виртуальные приборы это
					div.w-slider__title Комплексные промышленные решения
					div.w-slider__text Компания занимается разработкой  и последующей поставкой комплексных промышленных решений для проверки  и тестирования продукции.
				div.w-slider__main
					div.w-slider__top Cогласование решения и монтаж 
					div.w-slider__title Согласование решения и монтаж 
					div.w-slider__text Компания занимается разработкой  и последующей поставкой комплексных промышленных решений для проверки  и тестирования продукции. 
				div.w-slider__announce 
					div.w-slider__announce-text Согласование решения и монтаж

	div(style='background-image: url(assets/images/content/i-slider_bg.jpg)').i-slider.js-section
		div.i-slider__dots
			div.i-slider__dot.is-active
				div.i-slider__dot-circle
				div.i-slider__dot-value 01
			div.i-slider__dot
				div.i-slider__dot-circle
				div.i-slider__dot-value 02
			div.i-slider__dot
				div.i-slider__dot-circle
				div.i-slider__dot-value 03

		div.container
			div.i-slider__inner
				div.i-sldier__s-name
					div.s-name.s-name--mobile.s-name--white Осуществляем полный цикл работ
				div.i-slider__scene.owl-carousel
					div.i-slider__slide.is-active
						div.i-slider__title Согласование решения<br/> и поставка оборудования
						div.i-slider__text Компания занимается разработкой и последующей поставкой комплексных промышленных решений для проверки и тестирования продукции.Компания занимается разработкой и последующей поставкой комплексных промышленных решений для проверки и тестирования продукции.
					div.i-slider__slide
						div.i-slider__title Согласование решения<br/> и поставка оборудования
						div.i-slider__text Компания занимается разработкой и последующей поставкой комплексных промышленных решений для проверки и тестирования продукции.Компания занимается разработкой и последующей поставкой комплексных промышленных решений для проверки и тестирования продукции.
					div.i-slider__slide
						div.i-slider__title Согласование решения<br/> и поставка оборудования
						div.i-slider__text Компания занимается разработкой и последующей поставкой комплексных промышленных решений для проверки и тестирования продукции.Компания занимается разработкой и последующей поставкой комплексных промышленных решений для проверки и тестирования продукции.

	div.advantages.js-section
		div.container
			div.advantages__inner
				div.advantages__s-name
					div.s-name.s-name--mobile.s-name--grey Преимущества
				div.advantages__svg
					div.svg__start
						include blocks/svg4
					div.svg__item
						include blocks/svg5
					div.svg__item
						include blocks/svg6

				div.advantages__row
					div(data-type='1').advantage
						div.advantage__title Качество
						div.advantage__text Качественно выполняем проекты и задачи за которые беремся (выполняем предусмотренную пуско-наладку и обеспечиваем документационное обеспечение и берем на себя все возможные задачи по реализации проекта.
					div(data-type='2').advantage
						div.advantage__title Сопровождение
						div.advantage__text После закрытия проекта решаем все производственные трудности, которые могут возникнуть. Всесторонняя поддержка заказчиков, долговременное партнерство и непрерывное содействие.
					div(data-type='1').advantage
						div.advantage__title Экономичность
						div.advantage__text Минимизация расходов заказчиков путём разумной экономии и обеспечение наименьшей итоговой стоимости продукции.
					div(data-type='2').advantage
						div.advantage__title Логистика
						div.advantage__text Предоставления полного комплекса инженерно-логистических услуг, включая тендерное согласование, международную логистику, сертификацию, отсрочку оплаты
					div(data-type='1').advantage
						div.advantage__title Комплексность
						div.advantage__text Самостоятельная организация компанией каждого отдельного этапа международной логистики при работе с заказами продукции, ранее не поставлявшейся в Россию.
					div(data-type='2').advantage
						div.advantage__title Партнеры
						div.advantage__text Сотрудничество с предприятиями, лидирующими в соотношении цена/качество в смежных областях (проектирование, сертификация, логистика)

	div.projects.js-section
		div.container
			div.projects__inner
				div.projects__s-name
					div.s-name.s-name--mobile.s-name--grey Наши проекты
				div.projects__row
					div.projects__col.projects__col--small
						div.ps-card
							div.ps-card__top более 30 проектов
							div.ps-card__title Наши проекты
							div.ps-card__text Компания занимается разработкой  и последующей поставкой комплексных промышленных решений для проверки  и тестирования продукции.
							div.ps-card__button
								a(href="#").button.button--green Все проекты

					div.projects__col.projects__col--big
						a(href='#' style='background-color: #353E49').p-card
							div.p-card__title Название проекта
							div.p-card__sections
								div.p-card__section
									div.p-card__section-name Решение
									div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
								div.p-card__section
									div.p-card__section-name отзыв
									div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
							div.p-card__recall Петр Сергеев, <span>Заведущий<br/> кафедрой электроники</span>

					div.projects__col.projects__col--big
						a(href='#' style='background-image: url(assets/images/content/p-card-bg.jpg)').p-card
							div.p-card__title Название проекта
							div.p-card__sections
								div.p-card__section
									div.p-card__section-name Решение
									div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
								div.p-card__section
									div.p-card__section-name отзыв
									div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
							div.p-card__recall Петр Сергеев, <span>Заведущий<br/> кафедрой электроники</span>

					div.projects__col.projects__col--small
						a(href='#' style='background-color: #26BF96').p-card.p-card--small
							div.p-card__title Название проекта
							div.p-card__sections
								div.p-card__section
									div.p-card__section-name Решение
									div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
								div.p-card__section
									div.p-card__section-name отзыв
									div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
							div.p-card__recall Петр Сергеев, <span>Заведущий кафедрой электроники</span>

	div.services.js-section
		div.container
			div.services__inner
				div.services__s-name
					div.s-name.s-name--mobile.s-name--white Услуги
				div.services__svg
					div.svg__start
						include blocks/svg10
					div.svg__item
						include blocks/svg7
					div.svg__item
						include blocks/svg8
					div.svg__item
						include blocks/svg9

				div.services__row
					div(data-svg='1').services__item Разработка и поставка оборудования
					div(data-svg='2').services__item Технологическая поддержка вузов
					div(data-svg='3').services__item Монтаж
					div(data-svg='1').services__item Разработка ПО
					div(data-svg='2').services__item Пуско-наладочные работы
					div(data-svg='3').services__item Сопутствующее оборудование
					div(data-svg='1').services__item Обучение сотрудников
					div(data-svg='2').services__item Логистика
					div(data-svg='3').services__item Разработка испытательных стендов
				div.services__button
					a(href="#").button.button--blue.button--bordered Подробнее

	div.partners.js-section
		div.container
			div.partners__inner
				div.partners__s-name
					div.s-name.s-name--mobile.s-name--grey Нам доверяют
				div.partners__row
					div.partner
						div.partner__image-wrapper
							img(src="assets/images/static/1c.png", alt="").partner__image
						div.partner__name Шлюмберже
					div.partner
						div.partner__image-wrapper
							img(src="assets/images/static/2c.png", alt="").partner__image
						div.partner__name ШНПО Электромашина
					div.partner
						div.partner__image-wrapper
							img(src="assets/images/static/3c.png", alt="").partner__image
						div.partner__name УПП Вектор
					div.partner
						div.partner__image-wrapper
							img(src="assets/images/static/4с.png", alt="").partner__image
						div.partner__name ПГ Метран
					div.partner
						div.partner__image-wrapper
							img(src="assets/images/static/5c.png", alt="").partner__image
						div.partner__name УПКБ Деталь
					div.partner
						div.partner__image-wrapper
							img(src="assets/images/static/6c.png", alt="").partner__image
						div.partner__name НПО Электромашина
					div.partner
						div.partner__image-wrapper
							img(src="assets/images/static/7с.png", alt="").partner__image
						div.partner__name УПП Вектор
					div.partner
						div.partner__image-wrapper
							img(src="assets/images/static/8с.png", alt="").partner__image
						div.partner__name ПГ Метран

	div.i-news.js-section
		div.container
			div.i-news__inner
				div.i-news__s-name
					div.s-name.s-name--mobile.s-name--grey Последние новости
				div.i-news__row
					div.i-news__col
						a(href="#" style='background-color: #26BF96').i-news__item
							div.i-news__item-title Заголовок новости
							div.i-news__item-text Робототехническая платформа - комплект для построения моделей роботов
							div.i-news__item-date 27 июня '18
					div.i-news__col
						a(href="#" style='background-image: url(assets/images/content/i-news-bg.jpg)').i-news__item
							div.i-news__item-title Заголовок новости
							div.i-news__item-text Робототехническая платформа - комплект для построения моделей роботов
							div.i-news__item-date 27 июня '18
					div.i-news__col
						a(href="#" style='background-color: #2E404C').i-news__item
							div.i-news__item-title Заголовок новости
							div.i-news__item-text Робототехническая платформа - комплект для построения моделей роботов
							div.i-news__item-date 27 июня '18
				div.i-news__button
					a(href="#").button.button--green Все новости

	div.callback.js-section
		div.container
			div.callback__inner
				div.callback__banner
					div.callback__s-name
						div.s-name.s-name--mobile.s-name--white Отправить заявку
					div(style='background-image:url(assets/images/content/callback-bg.jpg)').callback__banner-image
					div.callback__banner-content
						div.callback__banner-title хотите обсудить проект?
						div.callback__banner-text Если вы захотели работать с нами,  пожалйства воспользуйтесь  формой обратной связи</br>  или позвоните нам <a href='tel: +7 (900) 999 - 00 - 00'>+7 (900) 999 - 00 - 00</a>

				div.callback__c-form
					div.c-form
						form.c-form__form#callbackForm
							div.c-form__inputs
								div.c-form__line
									input(type="text" placeholder='Название компании' name='companyName').c-form__input.validateCompanyName
								div.c-form__line
									input(type="text" placeholder='Имя' name='Name').c-form__input.validateName
								div.c-form__line
									input(type="text" placeholder='Телефон' name='phone').c-form__input.validatePhone.phone
								div.c-form__line
									input(type="text" placeholder='E-mail' name='email').c-form__input.validateEmail
								div.c-form__line
									textarea(placeholder='Комментарий' name='comment').c-form__textarea
								div.c-form__error Пожалуйста, заполните все необходимые поля.
							div.c-form__button-wrapper
								button(type='submit').button.button--blue.c-form__button Отправить
							div.c-form__note Нажимая на эту кнопку вы даете согласие  на обработку персональных данных