extends layout

block title
	title news

block header
	include blocks/header2

block content

	div(style='background-image:url(assets/images/content/news-welcome.jpg)').start
		div.start__inner
			div.start__bread
				div.bread
					a(href="#").bread_link Главная
					a(href="#").bread_link Проекты
					a.bread_link Название проекта

			div.start__title заголовок для</br> небольшого видео</br> о компании

			div.start__text Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.

			div.start__button
				a(href="#").button.button--blue Подробнее

	div.news
		div.container
			div.news__inner
				div.news__s-name
					div.s-name.s-name--grey Новости

				div.news__row
					div.news__col
						a(href="#" style='background-image: url(assets/images/content/n-card-1.jpg)').n-card.n-card--white-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая платформа - комплект для построения моделей роботов
									div.n-card__date 27 июня '18

					div.news__col.news__col--big
						a(href="#" style='background-color: #1C9AD6').n-card.n-card--white
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
									div.n-card__date 27 июня '18

					div.news__col.news__col--big
						a(href="#" style='background-color: #F3F8FA').n-card.n-card--dark-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
									div.n-card__date 27 июня '18
								div(style='background-image:url(assets/images/content/n-card-2.jpg)').n-card__image

					div.news__col
						a(href="#" style='background-color: #353E49').n-card.n-card--white-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая платформа - комплект для построения моделей роботов
									div.n-card__date 27 июня '18

					div.news__col
						a(href="#" style='background-color: #26BF96').n-card.n-card--white
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая платформа - комплект для построения моделей роботов
									div.n-card__date 27 июня '18

					div.news__col.news__col--big
						a(href="#" style='background-color: #F3F8FA').n-card.n-card--dark-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
									div.n-card__date 27 июня '18

					div.news__col.news__col--big
						a(href="#" style='background-color: #F3F8FA').n-card.n-card--dark-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
									div.n-card__date 27 июня '18
								div(style='background-image:url(assets/images/content/n-card-3.jpg)').n-card__image

					div.news__col
						a(href="#" style='background-color: #353E49').n-card.n-card--white-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая платформа - комплект для построения моделей роботов
									div.n-card__date 27 июня '18

					div.news__col
						a(href="#" style='background-image: url(assets/images/content/n-card-1.jpg)').n-card.n-card--white-green
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая платформа - комплект для построения моделей роботов
									div.n-card__date 27 июня '18

					div.news__col.news__col--big
						a(href="#" style='background-color: #1C9AD6').n-card.n-card--white
							div.n-card__inner
								div.n-card__content
									div.n-card__title заголовок новости
									div.n-card__text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
									div.n-card__date 27 июня '18

				div.news__more
					a(href="#").button.button--green Смотреть больше

	include blocks/callback		




