extends layout

block title
	title news-detail

block header
	include blocks/header2

block content

	div.container

		div.p-top
			div.p-top__bread
				div.bread
					a(href="#").bread_link Главная
					a(href="#").bread_link Проекты
					a.bread_link Название проекта
			div.p-top__title заголовок для небольшого видео о компании
			div.p-top__date 27 июня '18

		div.c-page
			div.c-page__top
				img(src="assets/images/content/c-page_1.jpg", alt="").c-page__top-image
				div.c-page__top-text Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.

			div.c-note
				div.c-note__s-name
					div.s-name.s-name--grey Новости
				div.c-note__half
					div.c-note__title Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.
				div.c-note__content
					p Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.
					p Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
					p Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.
					p Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.

			div.c-quote
				div.c-quote__text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»

			div.c-note
				div.c-note__image-wrapper
					img(src="assets/images/content/c-note.jpg", alt="")
				div.c-note__content
					p Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.
					p Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
					p Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.
					p Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.


	include blocks/callback