extends layout

block title
	title project

block header
	include blocks/header2

block content

	div(style='background-image:url(assets/images/content/project-bg.jpg)').start
		div.start__inner
			div.start__bread
				div.bread
					a(href="#").bread_link Главная
					a(href="#").bread_link Проекты
					a.bread_link Название проекта

			div.start__title Некоторые решения </br> National Instruments для входного контроля ЭРИ и функционального контроля изделий на примере радиозаводов Урала

			div.s-types
				div.s-type
					div.s-type__image-wrapper
						img(src="assets/images/static/s-type_1.svg", alt="").s-type__image
					div.s-type__name Пуско-наладочные
				div.s-type
					div.s-type__image-wrapper
						img(src="assets/images/static/s-type_2.svg", alt="").s-type__image
					div.s-type__name Технологическая</br> поддержка вузов
				div.s-type
					div.s-type__image-wrapper
						img(src="assets/images/static/s-type_3.svg", alt="").s-type__image
					div.s-type__name Сопутствующее</br> оборудование

	div.project
		div.p-blocks
			div.p-links
				div.p-link.p-link--back предыдущий проект
				div.p-link.p-link--forward следующий проект
			div.p-block.p-block--back
				div.p-block__content
					div.p-block__title Поставка платформ для НПО Электромашина
					img(src="assets/images/content/p-block-img.jpg", alt="").p-block__image
					div.p-block__icons
						img(src="assets/images/static/s-type_1.svg", alt="").p-block__icon
						img(src="assets/images/static/s-type_2.svg", alt="").p-block__icon
						img(src="assets/images/static/s-type_3.svg", alt="").p-block__icon
					div.p-block__button
						a(href="#").button.button--blue Смотреть проект
			div.p-block.p-block--forward
				div.p-block__content
					div.p-block__title Поставка платформ для НПО Электромашина
					img(src="assets/images/content/p-block-img.jpg", alt="").p-block__image
					div.p-block__icons
						img(src="assets/images/static/s-type_1.svg", alt="").p-block__icon
						img(src="assets/images/static/s-type_2.svg", alt="").p-block__icon
						img(src="assets/images/static/s-type_3.svg", alt="").p-block__icon
					div.p-block__button
						a(href="#").button.button--blue Смотреть проект

		div.p-options
			div.p-options__top
				div.container
					div.p-options__row
						div.p-optoins__info
							div.p-options__info-title сфера деятельности
							div.p-options__info-text Озерский технологический</br> институт
						div.p-optoins__info
							div.p-options__info-title локация
							div.p-options__info-text город Озерск
						div.p-optoins__info
							div.p-options__info-title сроки
							div.p-options__info-text декабрь 2017 —</br> март 2018
						div.p-optoins__info
							div.p-options__info-title стоимость
							div.p-options__info-text 1,5 млн. руб.
			div.p-options__map#p-map

		div.container
			div.project__inner
				div.project__block
					div.project__title Задачи
					div.project__content
						div.activity__area
							div.activity__row
								div.activity__item
									div.activity__item-num
									div.activity__item-title Проведение различных типов испытаний
									div.activity__item-text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
								div.activity__item
									div.activity__item-num
									div.activity__item-title Технологическая поддержка вузов
									div.activity__item-text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
								div.activity__item
									div.activity__item-num
									div.activity__item-title Разработка ПО
									div.activity__item-text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
								div.activity__item
									div.activity__item-num
									div.activity__item-title Поставка сопутствующего оборудования
									div.activity__item-text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.

				div.project__block
					div.project__title процесс работы
					div.p-step
						div.p-step__num 1 Этап
						div.p-step__row
							div.p-step__title NI STS – платформа для тестирования электронных компонентов
							div.p-step__text Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.

				div.project__block
					div.p-slider__wrapper
						div.p-slider
							div.p-slider__image-wrapper
								img(src="assets/images/content/boxes.jpg", alt="").p-slider__image.is-active
								div(style='background-image:url(assets/images/content/c-page_1.jpg)').p-slider__image
								img(src="assets/images/content/boxes.jpg", alt="").p-slider__image
							div.p-slider__content-wrapper
								div.p-slider__content
									div.p-slider__top
										div.p-slider__counter <span class='p-slider__counter-current'></span> / <span class='p-slider__counter-value'></span>
										div.p-slider__dots
									div.p-slider__scene.owl-carousel
										div.p-slider__slide
											div.p-slider__title NI STS – платформа для тестирования электронных компонентов
											div.p-slider__text Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
										div.p-slider__slide
											div.p-slider__title NI STS – платформа для тестирования электронных компонентов
											div.p-slider__text Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
										div.p-slider__slide
											div.p-slider__title NI STS – платформа для тестирования электронных компонентов
											div.p-slider__text Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
									div.p-slider__controls

				div.project__block
					div.fin.fin--blue
						div.fin__title итог. 1 этап
						div.fin__text Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.

				div.project__block
					div.p-step
						div.p-step__num.p-step__num--green 2 Этап
						div.p-step__row
							div.p-step__title NI STS – платформа для тестирования электронных компонентов
							div.p-step__text Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.

				div.project__block
					div.p-slider__wrapper
						div.p-slider.p-slider--reverse
							div.p-slider__image-wrapper
								img(src="assets/images/content/boxes.jpg", alt="").p-slider__image.is-active
								div(style='background-image:url(assets/images/content/c-page_1.jpg)').p-slider__image
								img(src="assets/images/content/boxes.jpg", alt="").p-slider__image
							div.p-slider__content-wrapper
								div.p-slider__content
									div.p-slider__top.p-slider__top--green
										div.p-slider__counter <span class='p-slider__counter-current'></span> / <span class='p-slider__counter-value'></span>
										div.p-slider__dots
									div.p-slider__scene.owl-carousel
										div.p-slider__slide
											div.p-slider__title NI STS – платформа для тестирования электронных компонентов
											div.p-slider__text Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
										div.p-slider__slide
											div.p-slider__title NI STS – платформа для тестирования электронных компонентов
											div.p-slider__text Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
										div.p-slider__slide
											div.p-slider__title NI STS – платформа для тестирования электронных компонентов
											div.p-slider__text Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
									div.p-slider__controls

				div.project__block
					div.fin.fin--green
						div.fin__title итог. 2 этап
						div.fin__text Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.

				div.project__block
					div.project__title результат

					div.r-slider
						div.r-slider__scene.owl-carousel
							div.r-slider__slide
								img(src="assets/images/content/c-page_1.jpg", alt="")
							div.r-slider__slide
								img(src="assets/images/content/c-page_1.jpg", alt="")
							div.r-slider__slide
								img(src="assets/images/content/c-page_1.jpg", alt="")
						div.r-slider__dots
						div.r-slider__counter <span class='r-slider__counter-current'></span> / <span class='r-slider__counter-value'></span>

					div.r-texts
						div.r-text
							p Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами, при которой система организуется в виде программной модели некоторого реально
						div.r-text
							p Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами, при которой система организуется в виде программной модели некоторого реально
						div.r-text
							p Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами, при которой система организуется в виде программной модели некоторого реально
						div.r-text
							p Концепция, в соответствии с которой организуются программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами, при которой система организуется в виде программной модели некоторого реально

					div.docs
						div.docs__content
							div.docs__title чтобы Ознакомиться подробнее, скачайте докумены
						div.docs__load
							a(href="#").docs__load-link Презентация проекта
							a(href="#").docs__load-link Технические характеристики

				div.workers.workers--fill
					div.container
						div.workers__inner
							div.project__title Над проектом работали
							div.workers__row
								div.worker
									div(style='background-image: url(assets/images/content/worker.png)').worker__image
									div.worker__position Инженер
									div.worker__name вячеслав клещенок
									a(href="mailto: box@mail.ru").worker__link box@mail.ru
								div.worker
									div(style='background-image: url(assets/images/content/worker.png)').worker__image
									div.worker__position Инженер
									div.worker__name вячеслав клещенок
									a(href="mailto: box@mail.ru").worker__link box@mail.ru
								div.worker
									div(style='background-image: url(assets/images/content/worker.png)').worker__image
									div.worker__position Инженер
									div.worker__name вячеслав клещенок
									a(href="mailto: box@mail.ru").worker__link box@mail.ru

				div.r-review
					div.r-review__title Отзыв
					div.r-review__content
						div.r-review__text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
						div.r-review__note Петр Сергеев, <span>Заведущий кафедрой электроники</span>

			div.project__list
				div.p-list
					div.p-list__col
						a(href='#' style='').p-card.p-card--small.p-card--text-dark.p-card--strange
							div.p-card__icons
								img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
								img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
								img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
							div.p-card__title.p-card__title--big разработка и поставка оборудования
							div.p-card__sections
								div.p-card__section
									div.p-card__section-name Решение
									div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
								div.p-card__section
									div.p-card__section-name отзыв
									div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
							div.p-card__recall Петр Сергеев, <span>Заведущий кафедрой электроники</span>

					div.p-list__col.p-list__col--big
						a(href='#' style='background-image: url(assets/images/content/p-card_1.jpg)').p-card
							div.p-card__icons
								img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
								img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
								img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
							div.p-card__title разработка и поставка оборудования
							div.p-card__sections
								div.p-card__section
									div.p-card__section-name Решение
									div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
								div.p-card__section
									div.p-card__section-name отзыв
									div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
							div.p-card__recall Петр Сергеев, <span>Заведущий<br/> кафедрой электроники</span>
				div.project__list-more
					a(href="#").button.button--green все проекты

	include blocks/callback













						





