extends layout

block header
	include blocks/header2

block title
	title proj-list

block content
	
	div.container
		div.p-top
			div.p-top__bread
				div.bread
					a(href="#").bread_link Главная
					a(href="#").bread_link Проекты
					a.bread_link Название проекта
			div.p-top__title Наши проекты

		div.filtr
			div.filtr__top
				div(data-items-value='12').filtr__top-title выберите виды деятельности и направления
			div.filtr__inner
				form.filtr__form
					div.filtr__form-row
						div.filtr__form-section
							div.filtr__form-title Виды деятельности
							div.filtr__items
								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_1
										label(for="check_1").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Логистика
												
								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_2
										label(for="check_2").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Разработка ПО
												
								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_3
										label(for="check_3").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Монтаж
												
								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_4
										label(for="check_4").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Разработка  и поставка
												
								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_5
										label(for="check_5").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Пуско-наладочные
												
								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_6
										label(for="check_6").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Технологическая поддержка вузов
								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_7
										label(for="check_7").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Сопутствующее оборудование
								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_8
										label(for="check_8").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Обучение  сотрудников
							
								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_9
										label(for="check_9").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Разработка испытательных стендов
						div.filtr__form-section
							div.filtr__form-title направления
							div.filtr__items
								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_10
										label(for="check_10").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Нефтесервисное обеспечение
								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_11
										label(for="check_11").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Высшие учебные заведения (ВУЗы)
								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_12
										label(for="check_12").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Приборостроение
								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_13
										label(for="check_13").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Авиация

								div.filtr__item
									div.filtr__item-inner
										input(type="checkbox").filtr__item-input#check_14
										label(for="check_14").filtr__item-label
											div.filtr__item-image-wrapper
												img(src="assets/images/static/log.svg", alt="").filtr__item-image
												div.filtr__item-value 3
											div.filtr__item-name-wrapper
												div.filtr__item-name Ракетнокосмическая

					div.filtr__reset-wrapper
						div.filtr__reset Сбросить
		
		div.p-list
			div.p-list__col
				a(href='#' style='').p-card.p-card--small.p-card--text-dark.p-card--strange
					div.p-card__icons
						img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
					div.p-card__title.p-card__title--big разработка и поставка оборудования
					div.p-card__sections
						div.p-card__section
							div.p-card__section-name Решение
							div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
						div.p-card__section
							div.p-card__section-name отзыв
							div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
					div.p-card__recall Петр Сергеев, <span>Заведущий кафедрой электроники</span>

			div.p-list__col.p-list__col--big
				a(href='#' style='background-image: url(assets/images/content/p-card_1.jpg)').p-card
					div.p-card__icons
						img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
					div.p-card__title разработка и поставка оборудования
					div.p-card__sections
						div.p-card__section
							div.p-card__section-name Решение
							div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
						div.p-card__section
							div.p-card__section-name отзыв
							div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
					div.p-card__recall Петр Сергеев, <span>Заведущий<br/> кафедрой электроники</span>

			div.p-list__col.p-list__col--big
				a(href='#' style='background-color: #26BF96').p-card.p-card--white
					div.p-card__icons
						img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
					div.p-card__title разработка и поставка оборудования
					div.p-card__sections
						div.p-card__section
							div.p-card__section-name Решение
							div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
						div.p-card__section
							div.p-card__section-name отзыв
							div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
					div.p-card__recall Петр Сергеев, <span>Заведущий<br/> кафедрой электроники</span>

			div.p-list__col
				a(href='#' style='background-color: #353E49').p-card.p-card--small.p-card--theme-blue
					div.p-card__icons
						img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
					div.p-card__title разработка и поставка оборудования
					div.p-card__sections
						div.p-card__section
							div.p-card__section-name Решение
							div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
						div.p-card__section
							div.p-card__section-name отзыв
							div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
					div.p-card__recall Петр Сергеев, <span>Заведущий кафедрой электроники</span>

			div.p-list__col
				a(href='#' style='').p-card.p-card--small.p-card--text-dark.p-card--strange
					div.p-card__icons
						img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
					div.p-card__title.p-card__title--big разработка и поставка оборудования
					div.p-card__sections
						div.p-card__section
							div.p-card__section-name Решение
							div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
						div.p-card__section
							div.p-card__section-name отзыв
							div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
					div.p-card__recall Петр Сергеев, <span>Заведущий кафедрой электроники</span>

			div.p-list__col.p-list__col--big
				a(href='#' style='background-image: url(assets/images/content/p-card_3.jpg)').p-card
					div.p-card__icons
						img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
					div.p-card__title разработка и поставка оборудования
					div.p-card__sections
						div.p-card__section
							div.p-card__section-name Решение
							div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
						div.p-card__section
							div.p-card__section-name отзыв
							div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
					div.p-card__recall Петр Сергеев, <span>Заведущий<br/> кафедрой электроники</span>

			div.p-list__col.p-list__col--big
				a(href='#' style='background-color: #1C9AD6').p-card.p-card--white
					div.p-card__icons
						img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
					div.p-card__title разработка и поставка оборудования
					div.p-card__sections
						div.p-card__section
							div.p-card__section-name Решение
							div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
						div.p-card__section
							div.p-card__section-name отзыв
							div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
					div.p-card__recall Петр Сергеев, <span>Заведущий<br/> кафедрой электроники</span>

			div.p-list__col
				a(href='#' style='background-color: #F4F9FA').p-card.p-card--small.p-card--theme-blue.p-card--text-dark
					div.p-card__icons
						img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
					div.p-card__title.p-card__title--big разработка и поставка оборудования
					div.p-card__sections
						div.p-card__section
							div.p-card__section-name Решение
							div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
						div.p-card__section
							div.p-card__section-name отзыв
							div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
					div.p-card__recall Петр Сергеев, <span>Заведущий кафедрой электроники</span>

			div.p-list__col
				a(href='#' style='').p-card.p-card--small.p-card--text-dark.p-card--strange
					div.p-card__icons
						img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
					div.p-card__title.p-card__title--big разработка и поставка оборудования
					div.p-card__sections
						div.p-card__section
							div.p-card__section-name Решение
							div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
						div.p-card__section
							div.p-card__section-name отзыв
							div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
					div.p-card__recall Петр Сергеев, <span>Заведущий кафедрой электроники</span>

			div.p-list__col.p-list__col--big
				a(href='#' style='background-image: url(assets/images/content/p-card_1.jpg)').p-card
					div.p-card__icons
						img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
					div.p-card__title разработка и поставка оборудования
					div.p-card__sections
						div.p-card__section
							div.p-card__section-name Решение
							div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
						div.p-card__section
							div.p-card__section-name отзыв
							div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
					div.p-card__recall Петр Сергеев, <span>Заведущий<br/> кафедрой электроники</span>

			div.p-list__col.p-list__col--big
				a(href='#' style='background-color: #26BF96').p-card.p-card--white
					div.p-card__icons
						img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
					div.p-card__title разработка и поставка оборудования
					div.p-card__sections
						div.p-card__section
							div.p-card__section-name Решение
							div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
						div.p-card__section
							div.p-card__section-name отзыв
							div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
					div.p-card__recall Петр Сергеев, <span>Заведущий<br/> кафедрой электроники</span>

			div.p-list__col
				a(href='#' style='background-color: #353E49').p-card.p-card--small.p-card--theme-blue
					div.p-card__icons
						img(src="assets/images/static/p-card__icon-1.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-2.svg", alt="").p-card__icon
						img(src="assets/images/static/p-card__icon-3.svg", alt="").p-card__icon
					div.p-card__title разработка и поставка оборудования
					div.p-card__sections
						div.p-card__section
							div.p-card__section-name Решение
							div.p-card__section-text Робототехническая платформа - комплект для построения моделей роботов
						div.p-card__section
							div.p-card__section-name отзыв
							div.p-card__section-text «Результат превзошел наши ожидания. Работа выполнена профессионально и в срок. Наши студенты очень довольны»
					div.p-card__recall Петр Сергеев, <span>Заведущий кафедрой электроники</span>

		div.pagination
			a(href="#").pagination__nav.pagination__nav--prev
			a(href="#").pagination__nav.pagination__nav--active 1
			a(href="#").pagination__nav 2
			a(href="#").pagination__nav ...
			a(href="#").pagination__nav 5
			a(href="#").pagination__nav 6
			a(href="#").pagination__nav.pagination__nav--next

		div.projects-bottom
			div.i-news__inner
				div.i-news__s-name
					div.s-name.s-name--grey Последние новости
				div.i-news__row
					div.i-news__col
						a(href="#" style='background-color: #F3F8FA').i-news__item.i-news__item--theme-dark
							div.i-news__item-title Заголовок новости
							div.i-news__item-text Робототехническая платформа - комплект для построения моделей роботов
							div.i-news__item-date 27 июня '18
					div.i-news__col
						a(href="#" style='background-image: url(assets/images/content/i-news-bg.jpg)').i-news__item
							div.i-news__item-title Заголовок новости
							div.i-news__item-text Робототехническая платформа - комплект для построения моделей роботов
							div.i-news__item-date 27 июня '18
					div.i-news__col
						a(href="#" style='background-color: #F3F8FA').i-news__item.i-news__item--theme-dark
							div.i-news__item-title Заголовок новости
							div.i-news__item-text Робототехническая платформа - комплект для построения моделей роботов
							div.i-news__item-date 27 июня '18
				div.i-news__button
					a(href="#").button.button--green Все новости

	include blocks/callback


























































