extends layout

block title
	title search

block header
	include blocks/header2

block content
	div.search
		form.h-search__form
			div.container
				div.h-search__top
					input(type="text" placeholder='Что вы ищете?').h-search__input
				div.h-search__title 16 совпадений
			div.h-results
				div.h-results__inner
					div.h-result
						div.h-result__title Проекты
						div.h-result__content
							div.h-result__content-items
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							a(href="#").h-result__more показать все результаты
					div.h-result
						div.h-result__title Новости
						div.h-result__content
							div.h-result__content-items
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							a(href="#").h-result__more показать все результаты
					div.h-result
						div.h-result__title Услуги
						div.h-result__content
							div.h-result__content-items
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
								div.h-result__item
									a(href="#").h-result__item-title NI STS – платформа для тестирования <span class='h-result__coincidence'>электронных</span> компонентов
									div.h-result__item-text Концепция, в соответствии с которой <span class='h-result__coincidence'>организуются</span> программно-управляемые системы сбора данных и управления техническими объектами и технологическими процессами.
							a(href="#").h-result__more показать все результаты

				div.search__pagination
					div.pagination
						a(href="#").pagination__nav.pagination__nav--prev
						a(href="#").pagination__nav.pagination__nav--active 1
						a(href="#").pagination__nav 2
						a(href="#").pagination__nav ...
						a(href="#").pagination__nav 5
						a(href="#").pagination__nav 6
						a(href="#").pagination__nav.pagination__nav--next

	include blocks/callback
