extends layout

block title
	title services

block header
	include blocks/header2

block content

	div.container
		div.p-top
			div.p-top__bread
				div.bread
					a(href="#").bread_link Главная
					a(href="#").bread_link Проекты
					a.bread_link услуги
			div.p-top__title услуги

		div.servs
			div.servs__inner
				div.serv
					div.serv__s-card
						div.s-card
							div.s-card__num 01
							div.s-card__title Разработка и поставка оборудования
							div.s-card__text
								p Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.
								p Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий.
					div(style='background-image:url(assets/images/content/c-page_1.jpg)').serv__image

				div.servs__row
					div.servs__col
						div.s-card
							div.s-card__num 02
							div.s-card__title Монтаж
							div.s-card__text
								p Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.
								p Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий.
					div.servs__col
						div.s-card
							div.s-card__num 03
							div.s-card__title Пуско-наладочные
							div.s-card__text
								p Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.
								p Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий.

				div.s-card.s-card--wide.s-card--blue-bg.s-card--text-white.s-card--svg
					div.s-card__num 04
					div.s-card__title Разработка и поставка</br> оборудования
					div.s-card__text
						p Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.
						p Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий.
					div.s-card__svg
						include blocks/svg11

				div.serv.serv--reverse
					div.serv__s-card
						div.s-card
							div.s-card__num 05
							div.s-card__title Обучение сотрудников
							div.s-card__text
								p Обеспечить оборудованием  Озерского технологического института  для проведения учебных занятий по методике WorldSkills компетенции мобильная робототехника.
								p Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий.
					div(style='background-image:url(assets/images/content/c-page_2.jpg)').serv__image

		div.activity
			div.activity__top
				div.activity__title Дополнительная</br> деятельность
				div.activity__svg
					include blocks/svg12
					include blocks/svg13
			div.activity__area
				div.activity__s-name
					div.s-name.s-name--grey дополнительная деятельность
				div.activity__row
					div.activity__item
						div.activity__item-title Испытательные стенды
						div.activity__item-text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
					div.activity__item
						div.activity__item-title Технологическая поддержка вузов
						div.activity__item-text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
					div.activity__item
						div.activity__item-title Разработка ПО
						div.activity__item-text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.
					div.activity__item
						div.activity__item-title Поставка сопутствующего оборудования
						div.activity__item-text Робототехническая и видео платформы для кафедры Электроники и автоматики Озерского технологического института - филиала НИЯУ МИФИ (ОТИ НИЯУ МИФИ) предназначены для проведения учебных занятий со студентами по методике WorldSkills компетенции мобильная робототехника.

				div.activity__more--wrapper
					a(href="#").activity__more все дополнительные услуги

			a(href="#" style='background-image:url(assets/images/content/activity-projects.jpg)').activity__projects
				div.activity__projects-text смотреть проекты

	include blocks/callback




						
