extends layout

block title
	title sitemap

block header
	include blocks/header2

block content
	div.container
		div.sitemap
			div.sitemap__inner
				div.sitemap__title Карта сайта
				div.sitemap__row
					div.sitemap__item
						a(href="#").sitemap__link Проекты
					div.sitemap__item
						a(href="#").sitemap__link новости
					div.sitemap__item
						a(href="#").sitemap__link услуги
					div.sitemap__item
						a(href="#").sitemap__link контакты
					div.sitemap__item
						a(href="#").sitemap__link о компании
