.about__section {
	position: relative;
	margin: 0 auto;
	padding: 120px 0;

	&--blue {

		&:after {
			content: '';
			position: absolute;
			left: -1000px;
			right: -1000px;
			top: 0;
			bottom: 0;
			z-index: -1;
			background-color: #F3F8FA;
		}
	}

	&--small {
		padding-top: 0;
		padding-bottom: 80px;
	}
}

.about__section-title {
	@include text('Exo2', 400, 40, uppercase, 40, #455970);

	margin-bottom: 55px;
}

.about__inner {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 120px;
}