//default settings

body {

}

.is-unscrolled {
	overflow: hidden;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	// margin: 0;
	// padding: 0;
	text-decoration: none;
	outline: none;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
}

a,
button {
	border: none;
	transition: color .3s, background-color .3s, border-color .3s, opacity .3s;
}

.page {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	overflow-x: hidden;
	min-height: 100vh;
	overflow: hidden;
}

.content {
	width: 100%;
	padding-top: 99px;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	width: 100%;
	padding: 0 50px;
}

.footer {
	margin-top: auto;
}

p {
	font-family: 'Roboto';
	font-weight: 300;
	color: #353E49;
	letter-spacing: 0.03em;
	margin-bottom: 20px;
	margin-top: 0;
	line-height: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.section-title {
	position: fixed;
	width: 100%;
	left: 50px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	height: 0;

	.s-name {
		white-space: nowrap;
		transform: translateY(-50%);
	}
}

.wow {
	visibility: hidden;
}
















