@font-face {
	font-family: 'Exo2';
	src: url('../fonts/Exo2/Exo2Regular/Exo2-Regular.eot');
	src: local('☺'), url('../fonts/Exo2/Exo2Regular/Exo2-Regular.woff') format('woff'), 
	      url('../fonts/Exo2/Exo2Regular/Exo2-Regular.ttf') format('truetype'), 
	      url('../fonts/Exo2/Exo2Regular/Exo2-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2';
	src: url('../fonts/Exo2/Exo2Light/Exo2-Light.eot');
	src: local('☺'), url('../fonts/Exo2/Exo2Light/Exo2-Light.woff') format('woff'), 
	      url('../fonts/Exo2/Exo2Light/Exo2-Light.ttf') format('truetype'), 
	      url('../fonts/Exo2/Exo2Light/Exo2-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2';
	src: url('../fonts/Exo2/Exo2ExtraLight/Exo2-ExtraLight.eot');
	src: local('☺'), url('../fonts/Exo2/Exo2ExtraLight/Exo2-ExtraLight.woff') format('woff'), 
	      url('../fonts/Exo2/Exo2ExtraLight/Exo2-ExtraLight.ttf') format('truetype'), 
	      url('../fonts/Exo2/Exo2ExtraLight/Exo2-ExtraLight.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}