@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro/GothamProBold/GothamPro-Bold.eot');
	src: local('☺'), url('../fonts/GothamPro/GothamProBold/GothamPro-Bold.woff') format('woff'), 
	      url('../fonts/GothamPro/GothamProBold/GothamPro-Bold.ttf') format('truetype'), 
	      url('../fonts/GothamPro/GothamProBold/GothamPro-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro/GothamProRegular/GothamPro-Regular.eot');
	src: local('☺'), url('../fonts/GothamPro/GothamProRegular/GothamPro-Regular.woff') format('woff'), 
	      url('../fonts/GothamPro/GothamProRegular/GothamPro-Regular.ttf') format('truetype'), 
	      url('../fonts/GothamPro/GothamProRegular/GothamPro-Regular.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}