@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/RobotoRegular/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto/RobotoRegular/Roboto-Regular.woff') format('woff'), 
	      url('../fonts/Roboto/RobotoRegular/Roboto-Regular.ttf') format('truetype'), 
	      url('../fonts/Roboto/RobotoRegular/Roboto-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/RobotoLight/Roboto-Light.eot');
	src: local('☺'), url('../fonts/Roboto/RobotoLight/Roboto-Light.woff') format('woff'), 
	      url('../fonts/Roboto/RobotoLight/Roboto-Light.ttf') format('truetype'), 
	      url('../fonts/Roboto/RobotoLight/Roboto-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/RobotoMedium/RobotoMedium.eot');
	src: local('☺'), url('../fonts/Roboto/RobotoMedium/RobotoMedium.woff') format('woff'), 
	      url('../fonts/Roboto/RobotoMedium/RobotoMedium.ttf') format('truetype'), 
	      url('../fonts/Roboto/RobotoMedium/RobotoMedium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}