// @include grid(row, nowrap, space-between);

@mixin text($font, $fw, $fz, $transform, $lh, $color) {
	font-family: $font;
	font-weight: $fw;
	font-size: $fz+px;
	text-transform: $transform;
	line-height: $lh+px;
	color: $color;
}

@mixin grid($type, $wrap, $justifyContent, $align) {
	display: flex;
	flex-direction: $type;
	flex-wrap: $wrap;
	justify-content: $justifyContent;
	align-items: $align;
}

@mixin gridItem($width) {
	width: $width;
}