.title-small-blue {
	font-family: 'GothamPro';
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.03em;
	color: $accent;
	text-transform: uppercase;
} 

.title-small-dark {
	font-family: 'GothamPro';
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.03em;
	color: #353E49;
	text-transform: uppercase;
} 

.title-small-green {
	font-family: 'GothamPro';
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.03em;
	color: $accent2;
	text-transform: uppercase;
} 

.title-mid {	
	font-family: 'Exo2';
	font-weight: 400;
	font-size: 22px;
	text-transform: uppercase;
	line-height: 30px;
	color: #353E49;
}

.title-mid-light {
	font-family: 'Exo2';
	font-weight: 300;
	font-size: 22px;
	text-transform: uppercase;
	line-height: 30px;
	color: #353E49;
}

@mixin text($font, $fw, $fz, $transform, $lh, $color) {
	font-family: $font;
	font-weight: $fw;
	font-size: $fz+px;
	text-transform: $transform;
	line-height: $lh+px;
	color: $color;
}

@mixin arrows($name) {

	$arrows: next prev;

	@each $arrow in $arrows {

		&--#{$arrow} {

			&:before {
				background-image: url(../images/static/#{$name}-#{$arrow}.svg);
			}
		}
	}
}