.activity {
	padding: 0 100px;
}

.activity__top {
	position: relative;
	padding: 130px 0;
}

.activity__title  {
	font-size: 55px;
	color: #374E5D;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	line-height: 1;
	font-family: 'Exo2';
}

.activity__area {
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 100px rgba(138,195,211, 0.12);
	padding: 70px 120px 50px 120px;
	margin-bottom: 65px;
}

.activity__s-name {
	position: absolute;
	left: -100px;
	top: 120px;
}

.activity__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	counter-reset: activity 0;
}

.activity__item {
	width: 45%;
	margin-bottom: 60px;
}

.activity__item-title {
	font-family: 'Exo2';
	font-weight: 300;
	font-size: 22px;
	line-height: 30px;
	color: #353E49;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.activity__item-text {
	@extend p;

	line-height: 30px;
}

.activity__more--wrapper {
	text-align: center;
}

.activity__more {
	position: relative;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'GothamPro';
	font-weight: 700;
	letter-spacing: 0.03em;
	color: lighten(#3C3C3C, 40%);

	&:after {
		content: '';
		display: inline-block;
		margin-left: 15px;
		width: 18px;
		height: 10px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/activity-more.svg);
	}

	&:hover {
		color: lighten(#3C3C3C, 20%);
	}
}

.activity__projects {
	position: relative;
	display: block;
	padding: 70px 20px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	margin-bottom: 80px;
	text-align: center;

	&:hover {

		.activity__projects-text {

			&:after {
				transform: translateX(10px);
			}
		}
	}
}

.activity__projects-text {
	text-transform: uppercase;
	color: #fff;
	font-size: 22px;
	font-family: 'Exo2';
	font-weight: 300;

	&:after {
		content: '';
		display: inline-block;
		width: 17px;
		height: 17px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/activity-arrow.svg);
		margin-left: 20px;
		transition: transform .3s;
	}
}

.activity__item-num {
	color: $accent;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-family: 'GothamPro';
	font-weight: 700;
	margin-bottom: 20px;

	&:after {
		content: '';
		counter-increment: activity;
		content: counter(activity, decimal-leading-zero);
	}
}

.activity__svg {
	position: absolute;
	top: -300px;
	left: 50%;
	right: 0;
	transform: translateX(-50%);
	z-index: -1;
	
	svg {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 1300px;
		height: 1300px;

		&:last-child {
			z-index: -1;
		}
	}
}




