.advantages {
	position: relative;
	padding: 250px 0 90px 0;
}

.advantages__inner {
	position: relative;
}

.advantages__s-name {
	position: absolute;
	left: 0;
	top: 65px;
}

.advantages__row {
	padding: 0 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;

	&:after {
		content: '';
		width: 30%;
	}
}

.advantage {
	padding: 60px 30px 40px 50px;
	width: 30%;
	margin-bottom: 40px;
	transition: box-shadow .3s, background-color .3s;

	&:hover {
		box-shadow: 0 0 100px rgba(28,154,214,0.1);
		background-color: #fff;
	}
}

.advantage__title {
	font-family: 'Exo2';
	font-weight: 100;
	letter-spacing: 0.03em;
	line-height: 1;
	margin-bottom: 45px;
	color: $accent;
	font-size: 30px;
	text-transform: uppercase;
}

.advantage__text {
	@extend p;

	line-height: 30px;
	color: #353E49;
}

.advantages__svg {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -540px;
	width: 1300px;
	height: 1300px;
	z-index: -1;

	.svg__item {

		svg {
			display: none;
		}
	}
}