.bread_link {
	font-family: 'GothamPro';
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	font-size: 12px;
	color: $accent;

	&:hover {
		color: lighten($accent, 10%);
	}

	&:after {
		content: '>';
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
	}

	&:last-child {

		&:hover {
			color: $accent;
		}

		&:after {
			display: none;
		}
	}
}