.c-form {
	padding: 35px 75px;
}

.c-form__line {
	margin-bottom: 13px;

	span.input-error {
		display: none !important;
	}
}

.c-form__input,
.c-form__textarea {
	display: block;
	width: 100%;
	padding: 20px 25px;
	border: none;
	background-color: #fff;
	font-size: 16px;
	letter-spacing: 0.03em;
	font-weight: 300;
	font-family: 'Roboto';
	font-family: 'Roboto';
	border: 1px solid transparent;
	transition: border-color .3s;
}

.c-form__input {

	&.input-error {
		border-color: #FF6767;
	}

	&.valid {
		border-color: $accent2;
	}
}

.c-form__textarea {
	height: 110px;
	resize: none;
}

.c-form__button-wrapper {
	margin-top: 15px;
	margin-bottom: 25px;
	text-align: center;
}

.c-form__note {
	text-align: center;
	max-width: 250px;
	margin: 0 auto;
	font-size: 12px;
	font-family: 'Roboto';
	font-weight: 300;
	letter-spacing: 0.03em;
	line-height: 18px;
	color: #353E49;
}

.c-form__button {
	cursor: pointer;
}

.c-form__error {
	opacity: 0;
	color: #F55;
	font-size: 12px;
	font-family: 'Roboto';
	font-weight: 300;
	transition: opacity .3s;

	&.is-visible {
		opacity: 1;
	}
}