.c-note {
	margin: 70px auto;
	padding: 0 100px;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.c-note__s-name {
	position: absolute;
	left: -100px;
	top: 0;
}

.c-note__half {
	width: 45%;
	flex-shrink: 0;
	padding-right: 75px;
}

.c-note__title {
	color: $accent;
	line-height: 30px;
	font-size: 22px;
	font-weight: 300;
	font-family: 'Exo2';
	text-transform: uppercase;
}

.c-note__image-wrapper {
	width: 45%;
	flex-shrink: 0;
	padding-right: 75px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}