.c-page {
	padding: 0 100px 50px 100px;

	p {
		line-height: 30px;
	}
}

.c-page__top-text {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	line-height: 30px;
	color: #353E49;
	max-width: 660px;
	margin: 30px 0 30px auto;
}