
.c-quote {
	margin: 30px 0;
	background-color: $accent2;
	padding: 60px;
}

.c-quote__text {
	text-transform: uppercase;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	font-family: 'Exo2';
	line-height: 30px;
	max-width: 810px;
	margin: 0 auto;
}