.callback {
	position: relative;
	padding: 140px 0;
	background-color: #F3F8FA;
}

.callback__inner {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.callback__banner {
	position: relative;
	padding-left: 120px;
	padding-top: 100px;
	padding-bottom: 80px;
	width: 60%;
}

.callback__s-name {
	position: absolute;
	left: 0;
	white-space: nowrap;
	z-index: 1;
}

.callback__banner-image {
	position: absolute;
	left: -500px;
	top: 0;
	right: 0;
	bottom: 0;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background-color: #203340;
		opacity: .7;
	}
}

.callback__banner-content {
	position: relative;
	max-width: 360px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.callback__banner-title {
	@extend .i-news__item-title;
}

.callback__banner-text {
	@extend p;
	
	color: #fff;
	line-height: 30px;
	letter-spacing: 0.03em;

	a {
		color: inherit;

		&:hover {
			color: $accent;
		}
	}
}

.callback__c-form {
	width: 40%;
}