.contacts__bread {
	margin-bottom: 30px;
}

.contacts {
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
}

.contacts__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.contacts__content {
	width: 510px;
	flex-shrink: 0;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 100px;
}

.contacts__content-top {
	margin-bottom: 120px;
}

.contacts__map {
	position: relative;
	height: 1000px;
	background-color: #ccc;
	min-width: 85%;
	flex-grow: 1;
	
	.map {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
}

.contacts__items {
	margin-bottom: 85px;
	max-width: 210px;
}

.contacts__item {
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}
}

.contacts__item-title {
	font-family: 'GothamPro';
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	color: $accent;
	margin-bottom: 25px;
}

.contacts__item-addr {
	font-size: 22px;
	line-height: 30px;
	font-weight: 300;
	font-family: 'Exo2';
	text-transform: uppercase;
}

.contacts__item-link {
	font-family: 'Roboto';
	font-weight: 300;
	color: #353E49;

	&:hover {
		color: $accent;
	}
}

.contacts__item-text {
	font-family: 'Roboto';
	font-weight: 300;
	color: #353E49;
	line-height: 30px;
}



























