.docs {
    background-image: url(../images/content/project-bg.jpg);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.docs__content {
	width: 50%;
	background-color: rgba(28, 154, 214, 0.51);
	padding: 55px 60px 55px 120px;
}

.docs__title {
	@extend .title-mid;

	color: #fff;
}

.docs__load {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	padding: 20px 110px;
	width: 50%;
}

.docs__load-link {
	color: #fff;
	font-family: 'Roboto';
	font-weight: 700;
	line-height: 1;
	margin-right: 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	&:last-child {
		margin-right: 0;
	}

	&:before {
		content: '';
		width: 19px;
		height: 19px;
		margin-right: 15px;
		display: block;
		flex-shrink: 0;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/load.svg);
	}

	&:hover {
		color: $accent;
	}
}