.filtr {
	margin-bottom: 70px;

	&.is-opened {

		.filtr__top {

			&:after {
				transform: rotate(180deg) translateY(10px);
			}
		}
	}
}

.filtr__top {
	position: relative;
	background-color: $accent;
	padding: 40px 50px;
	cursor: pointer;

	&:after {
		content: '';
		position: absolute;
		right: 55px;
		top: 50%;
		transform: translateY(-50%);
		width: 25px;
		height: 14px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/filtr-arr.svg);
		transition: transform .3s;
	}
}

.filtr__top-title {
	position: relative;
	display: inline-block;
	font-family: 'Exo2';
	font-weight: 100;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;

	&:after {
		content: attr(data-items-value);
		position: absolute;
		right: -30px;
		top: 0;
		font-family: 'GothamPro';
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		color: #97CBE7;
	}
}

.filtr__inner {
	background-color: #353E49;
	padding: 50px 0;
}

.filtr__form-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.filtr__form-section {
	width: 50%;
	border-right: 1px solid #415160;
	padding: 0 0 0 50px;

	&:last-child {
		border: none;
	}
}

.filtr__form-title {
	color: $accent;
	font-size: 22px;
	font-family: 'Exo2';
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.filtr__items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.filtr__item {
	position: relative;	
	cursor: pointer;
	width: 25%;
	margin-bottom: 45px;
	padding-right: 40px;

	&:nth-last-child(-n+4) {
		margin-bottom: 0;
	} 
}

.filtr__item-inner {
	max-width: 150px;
}

.filtr__item-input {
	position: absolute;
	z-index: -10;
	visibility: hidden;

	&:checked + {

		.filtr__item-label {
			
			.filtr__item-image {
				filter: brightness(1) invert(0);
				opacity: 1;
			}

			.filtr__item-name {
				color: $accent;
			}

			.filtr__item-value {
				background-color: $accent;
				color: #fff;
			}
		}
	}
}

.filtr__item-label {
	display: block;
	cursor: pointer;
}

.filtr__item-image-wrapper {
	position: relative;
	width: 22px;
	height: 18px;
	margin-bottom: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.filtr__item-image {
	max-height: 100%;
	width: auto;
	filter: brightness(0) invert(1);
	opacity: .8;
	transition: filter .3s, opacity .3s;
}

.filtr__item-name-wrapper {
	display: inline-block;
	position: relative;
}

.filtr__item-name {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	color: #CACACA;
	transition: color .3s;
}

.filtr__item-value {
	position: absolute;
	right: -20px;
	top: -20px;
	color: #6A7B8E;
	font-size: 13px;
	font-family: 'Roboto';
	padding: 5px;
	border-radius: 5px;
	transition: background-color .3s, color .3s;
}

.filtr__reset-wrapper {
	text-align: center;
	padding-top: 30px;
}

.filtr__reset {
	font-family: 'GothamPro';
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	color: #59697A;
	cursor: pointer;
	transition: color .3s;

	&:hover {
		color: lighten(#59697A, 10%);

		&:before {
			transform: rotate(90deg);
		}
	}

	&:before {
		content: '';
		display: inline-block;
		margin-bottom: -2px;
		margin-right: 10px;
		width: 12px;
		height: 12px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/filtr-reset.svg);
		transition: transform .3s;
	}
}














