.fin {
	padding: 60px 130px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	&--blue {
		background-color: $accent;
	}

	&--green {
		background-color: $accent2;
	}
}

.fin__title {
	@extend .title-mid;

	color: #fff;
	font-weight: 300;
	line-height: 30px;
	min-width: 230px;
}

.fin__text {
	@extend p;

	line-height: 30px;
	color: #fff;
}