.h-results {
	overflow-y: scroll;
	height: calc(100vh - 270px);
	-webkit-overflow-scrolling: touch;
}

.h-results__inner {
	max-width: 930px;
	margin: 0 auto;
}

.h-result {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #D7DCDF;

	&:last-child {
		border: none;
		margin-bottom: 0;
	}
}

.h-result__title {
	width: 135px;
	flex-shrink: 0;
	padding-right: 10px;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'GothamPro';
	font-weight: 700;
	color: $accent;
	line-height: 30px;
	letter-spacing: 0.03em;
}

.h-result__item {
	margin-bottom: 50px;

	&:last-child {
		margin-bottom: 0;
	}
}

.h-result__content {
	max-width: 640px;
}

.h-result__item-title {
	display: block;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: 'Exo2';
	font-size: 22px;
	font-weight: 300;
	line-height: 30px;
	color: #353E49;

	&:hover {
		color: $accent;
	}
}

.h-result__item-text {
	@extend p;

	line-height: 30px;
}

.h-result__coincidence {
	background-color: #D2EBF7;
}

.h-result__more {
	display: block;
	margin-top: 50px;
	font-family: 'GothamPro';
	text-transform: uppercase;
	font-size: 12px;
	color: $accent2;
	font-weight: 700;
	letter-spacing: 0.03em;

	&:after {
		content: '';
		display: inline-block;
		margin-bottom: -3px;
		margin-left: 15px;
		width: 18px;
		height: 14px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/h-result-more.svg);
		transition: transform .3s, opacity .3s;
	}

	&:hover {
		color: #40DEAC;

		&:after {
			opacity: .8;
			transform: translateX(10px);
		}
	}
}
