.h-slider__slide {
	padding: 10px;
}

.h-slider__date {
	@extend .title-small-blue;

	margin-bottom: 20px;
}

.h-slider__title {
	@extend .title-mid;

	font-weight: 300;
	margin-bottom: 20px;
}

.h-slider__text {
	@extend p;
}

.h-slider__image {
	margin-bottom: 25px;
}

.h-slider__scene {

	.owl-item {

		&:nth-child(even) {

			.h-slider__slide {
				margin-top: calc(100% - -13px);

				&:after {
					top: 279px;
				}

				&:before {
					top: 277px;
				}
			}
		}
	}
}

.h-slider__slide {
	height: 280px;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: #BCE1F1;
	}

	&:before {
		content: '';
		position: absolute;
		background-color: #353E49;
		height: 6px;
		width: 6px;
		border-radius: 50%;
		bottom: -3px;
		z-index: 2;
	}
}

.h-slider__value {
	@include text('Exo2', 400, 40, uppercase, 40, #455970);
}

.h-slider {
	position: relative;
	margin-right: -23.5vw;

	&:after {
		content: '';
		position: absolute;
		top: 279px;
		width: 1000px;
		left: -900px;
		height: 1px;
		background-color: #BCE1F1;
	}
}

.h-slider__nav {
	position: absolute;
	top: 320px;
	left: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	z-index: 2;
}

.h-slider__arr {
	display: block;
	position: relative;
	width: 75px;
	height: 75px;
	border: 1px solid #BCE1F1;
	margin-right: 5px;
	background-color: #F3F8FA;
	cursor: pointer;
	
	&:before {
		content: '';
		position: absolute;
		width: 36px;
		height: 36px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-position: center;
		background-repeat: no-repeat;
		transition: opacity .3s;
	}

	@include arrows('h-slider');

	&:hover {

		&:before {
			opacity: .7;
		}
	}
}










