.h-search {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	padding-top: 120px;
	background-color: #fff;
	z-index: 15;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s;

	&--opened {
		opacity: 1;
		visibility: visible;
	}
}

.h-search__top {
	position: relative;
	border-bottom: 1px solid #D7DCDF;
}

.h-search__input {
	border: none;
	text-align: center;
	display: block;
	width: 100%;
	font-size: 30px;
	color: #374E5D;
	padding: 30px 50px;
	text-transform: uppercase;
	font-weight: 100;
	font-family: 'Exo2';
}

.h-search__closer {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 23px;
	height: 23px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/static/h-search-closer.svg);
	transition: opacity .3s;
}

.h-search__title {
	position: relative;
	font-family: 'Roboto';
	color: #353E49;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;

	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	left: 0;
	// 	bottom: -30px;
	// 	right: 0;
	// 	height: 10px;
	// 	background: linear-gradient(to bottom, #fff, transparent);
	// }
}
