.i-news {
	position: relative;
	padding: 130px 0;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		width: 1300px;
		height: 850px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/welcome_art_1.svg);
		z-index: -1;
		top: 200px;
		right: -500px;
	    animation-name: artAnimate;
        animation-duration: 15000ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
	}
}

.i-news__inner {
	position: relative;
}

.i-news__s-name {
	position: absolute;
	left: 0;
	top: 50px;
}

.i-news__row {
	padding: 0 45px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	&:after {
		content: '';
		width: calc(33.33333% - 1px);
	}
}

.i-news__item {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding: 70px 120px 70px 70px;
	min-height: 470px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;

	&--theme-dark {

		.i-news__item-title,
		.i-news__item-text {
			color: #353E49;
		}

		.i-news__item-date {
			color: #4EC8A7;
		}
	}

	&:after {
		content: '';
		position: absolute;
		left: -15px;
		top: -15px;
		bottom: -15px;
		right: -15px;
		z-index: 2;
		border: 10px solid #fff;
		transition: all .3s;
	}

	&:hover {
		
		&:after {
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
	}
}

.i-news__item-title {
	font-family: 'Exo2';
	font-size: 30px;
	line-height: 1;
	letter-spacing: 0.03em;
	color: #fff;
	min-height: 100px;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-weight: 100;
}

.i-news__col {
	width: calc(33.33333% - 1px);
}

.i-news__item-text {
	@extend p;

	color: #fff;
	line-height: 30px;
	max-height: 150px;
	overflow: hidden;
}

.i-news__item-date {
	margin-top: auto;
	font-family: 'GothamPro';
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0.03em;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
}

.i-news__button {
	text-align: center;
	margin-top: 65px;
}

.i-news__content {
	max-width: 260px;
	height: 100%;
}