.i-slider {
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	padding: 180px 0;

	&:before {
		content: '';
		position: absolute;
		background-color: darken(#203340, 5%);
		opacity: .7;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	* {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: flat;
	}
}

.i-slider__dots {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.i-slider__dot {
	position: relative;
	flex: 1;
	max-width: 480px;
	text-align: center;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 45%;
		transform: translateY(-50%);
		height: 1px;
		background-color: $accent;
		transition: left .3s, right .3s;
	}

	&:before {
		left: 20px;
		right: calc(50% + 20px);
	}

	&:after {
		right: -20px;
		left: calc(50% + 20px);
	}

	&:last-child {

		&:after {
			right: -1000px;
		}
	}

	&:first-child {

		&:before {
			left: -1000px;
		}
	}

	&.is-active {

		.i-slider__dot-circle {
			transform: scale(3);

			&:after {
				content: '';
				position: absolute;
				left: -5px;
				right: -5px;
				top: -5px;
				bottom: -5px;
				border-radius: 50%;
				background-color: #1C9AD6;
				box-shadow: 0 0 34px rgba(28, 154, 214, 1);
				opacity: 0.4;
				transform: scale(1);
			}
		}

		.i-slider__dot-value {
			opacity: 1;
			visibility: visible;
		}

		&:before {
		    right: calc(50% + 50px);
		}

		&:after {
		    left: calc(50% + 50px);
		}
	}
}

.i-slider__dot-circle {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: $accent;
	cursor: pointer;
	transition: width .3s, height .3s, transform .3s, background-color .3s;

	&:after {
		content: '';
		position: absolute;
		left: -5px;
		right: -5px;
		top: -5px;
		bottom: -5px;
		border-radius: 50%;
		background-color: #1C9AD6;
		box-shadow: 0 0 34px rgba(28, 154, 214, 1);
		opacity: 0.4;
		transform: scale(0.5);
		transition: transform .3s;
	}

	&:hover {
		transform: scale(1.4);
		background-color: #1C9AD6;
	}
}

.i-slider__dot-value {
	position: absolute;
	top: calc(100% + 40px);
	left: 50%;
	transform: translateX(-50%);
	font-size: 20px;
	font-weight: 700;
	font-family: 'GothamPro';
	color: $accent;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s;
}

.i-slider__inner {
	position: relative;	
}

.i-slider__scene {
	max-width: 910px;
	margin: 0 auto;
	padding-top: 180px;
}

.i-slider__slide {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.i-slider__title {
	padding-right: 60px;
	flex: 1;
	font-family: 'Exo2';
	font-size: 55px;
	font-weight: 300;
	color: $accent;
	letter-spacing: 0.03em;
	line-height: 1;
	text-transform: uppercase;
}

.i-slider__text {
	@extend p;

	flex: 1;
	color: #fff;
	line-height: 30px;
}

.i-sldier__s-name {
	position: absolute;
	left: 0;
	top: 80px;
	white-space: nowrap;
}



