.license {
	padding-top: 30px;
}

.license__row {
	@include grid(row, nowrap, space-between, null);
}

.license__item {
	@include gridItem(47%);
	@include grid(row, nowrap, flex-start, center);

	position: relative;
	padding: 50px 20px 50px 0;

	&:before {
		content: '';
		position: absolute;
		left: 80px;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: #F3F8FA;
		z-index: -1;
	}
}

.license__item-image-wrapper {
	width: 160px;
	flex-shrink: 0;
	margin-right: 40px;
}

.license__item-title {
	@extend .title-mid-light;

	margin-bottom: 25px;
}

.license__item-text {
	@extend p;
}

.license__more {
	@extend .activity__more;
	display: block;
	margin-top: 55px;
	text-align: center;
}