.n-card {
	display: block;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	&--white {

		.n-card__title,
		.n-card__text,
		.n-card__date {
			color: #fff;
		}
	}

	&--white-green {

		.n-card__title,
		.n-card__text {
			color: #fff;
		}

		.n-card__date {
			color: $accent2;
		}
	}

	&--dark-green {

		.n-card__title,
		.n-card__text {
			color: #353E49;
		}

		.n-card__date {
			color: $accent2;
		}
	}

	&:after {
		content: '';
		position: absolute;
		left: -15px;
		top: -15px;
		bottom: -15px;
		right: -15px;
		z-index: 2;
		border: 10px solid #fff;
		transition: all .3s;
	}

	&:hover {
		
		&:after {
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
	}
}

.n-card__content {
	width: 100%;
	min-height: 400px;
	padding: 70px 50px 50px 70px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}

.n-card__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.n-card__title {
	font-family: 'Exo2';
	font-weight: 300;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.n-card__text {
	font-family: 'Roboto';
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 50px;
	max-height: 125px;
	overflow: hidden;
}

.n-card__image {
	width: calc(50% - 15px);
	flex-shrink: 0;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;

}