.news {
	padding-top: 130px;
}

.news__inner {
	position: relative;
}

.news__row {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;

	&:after {
		content: '';
		width: 31.5%;
	}
}

.news__s-name {
	position: absolute;
	left: 0;
	top: 0;
}

.news__col {
	width: 31.5%;
	// height: 300px;
	margin-bottom: 45px;

	&--big {
		width: 66%;
	}
}

.news__more {
	padding: 40px 0 85px 0;
	text-align: center;
}