.nothing {
	padding: 100px 150px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 1440px;
		height: 940px;
		background-image: url(../images/static/welcome_art_1.svg);
		z-index: -1;
		left: -620px;
		top: -550px;
		animation-name: artAnimate;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 15000ms;
		animation-delay: -10000ms;
	}

	&:after {
		content: '';
		position: absolute;
		left: -200px;
		right: -200px;
		bottom: -400px;
		top: -200px;
		background-image: url(../images/static/404.svg);
		z-index: -2;
		background-position: center;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

.nothing__title {
	text-transform: uppercase;
	font-size: 55px;
	font-family: 'Exo2';
	font-weight: 400;
	letter-spacing: 0.03em;
	margin-bottom: 80px;
	color: #374E5D;
}

.nothing__link {
	@extend .h-result__more;

	&:after {
		display: none;
	}

	&:before {
		@extend .h-result__more:after;

		transform: rotate(180deg);
		margin-left: 0;
		margin-right: 10px;
	}

	&:hover {

		&:before {
			transform: translateX(-10px) rotate(180deg);
		}
	}
}