.p-block {
	position: fixed;
	top: 0;
	bottom: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	width: 430px;
	z-index: 2;
	background-color: #fff;
	box-shadow: 0 0 100px rgba(70, 138, 162, 0.12);
	opacity: 0;
	transition: transform .3s, opacity .3s;

	&--back {
		transform: translateX(-30%);
		left: 0;
		padding: 50px 45px 40px 100px;
	}

	&--forward {
		transform: translateX(30%);
		right: 0;
		padding: 50px 100px 40px 45px;
	}

	&.is-opened {
		opacity: 1;
		transform: translate(0);
	}
}

.p-block__title {
	@include text('Exo2', 300, 30, uppercase, 30, #000);

	margin-bottom: 30px;
}

.p-block__image {
	margin-bottom: 20px;
}

.p-block__icons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 40px;
}

.p-block__icon {
	max-width: 20px;
	max-height: 20px;
	margin-right: 25px;
}