.p-card {
	display: block;
	position: relative;
	padding: 90px 110px 80px 110px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		left: -15px;
		top: -15px;
		bottom: -15px;
		right: -15px;
		z-index: 2;
		border: 10px solid #fff;
		transition: all .3s;
	}

	&:hover {
		
		&:after {
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
	}

	&--small {
		padding: 90px 70px 50px 80px;

		.p-card__section-name {
			color: #353E49;
		}

		.p-card__section {
			display: block;
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid #353E49;

			&:last-child {
				padding-bottom: 0;
				border: none;
			}
		}

		.p-card__section-text,
		.p-card__recall {
			color: #fff;
		}

		.p-card__title {
			margin-bottom: 35px;
		}

		.p-card__section-name {
			margin-bottom: 20px;
		}

		.p-card__recall {
			margin-left: 0;
		}
	}

	&--text-dark {

		.p-card__title {
			color: #566679;
		}

		.p-card__section-name {
			color: $accent;
		}

		.p-card__section-text {
			color: #566679;
		}

		.p-card__section {
			border-color: $accent;
		}
	}

	&--strange {
		padding-top: 10px;
		padding-bottom: 10px;

		&:hover {

			.p-card__title {
				color: $accent;
			}
		}
	}

	&--white {

		.p-card__section-name {
			color: #fff;
		}

		.p-card__icon {
		    filter: brightness(0) invert(1);
		}
	}

	&--theme-blue {

		.p-card__section-name {
			color: $accent;
		}

		.p-card__section {
			border-color: $accent;
		}
	}
}

.p-card__title {
	font-size: 30px;
	font-weight: 100;
	letter-spacing: 0.03em;
	color: #F3F8FA;
	text-transform: uppercase;
	margin-bottom: 70px;
	font-family: 'Exo2';
	transition: color .3s;

	&--big {
		font-size: 40px;
	}
}

.p-card__section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 70px;

	&:last-child {
		margin-bottom: 0;
	}
}

.p-card__section-name {
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'GothamPro';
	letter-spacing: 0.03em;
	line-height: 18px;
	font-weight: 700;
	color: $accent2;
	min-width: 115px;
}

.p-card__section-text {
	letter-spacing: 0.03em;
	color: #EBECED;
	font-family: 'GothamPro';
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}

.p-card__recall {
	@extend .p-card__section-text;

	margin-left: 115px;
	margin-top: 30px;

	span {
		font-weight: 300;
	}
}

.p-card__icons {
	margin-bottom: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.p-card__icon {
	max-height: 18px;
	margin-right: 30px;
	width: 20px;
}