.p-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.p-list__col {
	margin-bottom: 60px;
	margin-right: 40px;
	margin-left: 40px;
	width: 36%;
	flex-shrink: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	&--big {
		width: 58.6%;
		margin-right: 0;
		margin-left: 0;
	}	
}