
.p-link {
	position: fixed;
	top: 50%;
	color: #fff;
	writing-mode: vertical-rl;
    transform: rotate(180deg) translateY(50%);
    white-space: nowrap;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'GothamPro';
    letter-spacing: 0.03em;
    z-index: 3;
    transition: color .3s;
    cursor: pointer;
    padding: 20px;

    &--back {
    	left: 0;
    }

    &--forward {
    	right: 75px;
    }

    &--opened,
    &--colored {
        color: $accent;
    }

    &:hover {
    	color: $accent;
    }
}