.p-options {
	height: 450px;
	position: relative;	
}

.p-options__top {
	position: relative;
	z-index: 1;
}

.p-options__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 0 100px;
	padding-top: 45px;
}

.p-optoins__info {
	margin-right: 100px;
	width: 25%;

	&:last-child {
		margin-right: 0;
	}
}

.p-options__info-title {
	font-family: 'GothamPro';
	font-weight: 700;
	font-size: 12px;
	color: $accent;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}

.p-options__info-text {
	font-family: 'Roboto';
	font-weight: 500;
	line-height: 24px;
	color: #353E49;
}

.p-options__map {
	position: absolute;
	left: 0;
	top: -100px;
	right: 0;
	bottom: -200px;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 20px;
		background-color: #fff;
	}
}