.p-step {
	padding: 0 120px;
}

.p-step__num {
	@extend .title-small-blue;

	margin-bottom: 25px;

	&--green {
		@extend .title-small-green;
	}
}

.p-step__title {
	@extend .title-mid;

	margin-right: 30px;
	max-width: 400px;
	width: 100%;
}

.p-step__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.p-step__text {
	@extend p;

	line-height: 30px;
}