.p-slider {
	position: relative;

	&--reverse {

		.p-slider__content {
			margin-left: 0;
		}

		.p-slider__image-wrapper {
			right: 0;
			left: 30%;
		}

		.p-slider__controls {
			left: auto;
			right: 0;
		}
	} 
}

.p-slider__wrapper {
	position: relative;
	width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.p-slider__slide {
	position: relative;
}

.p-slider__image-wrapper {
	position: absolute;
	right: 30%;
	left: 0;
	height: 100%;
	top: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.p-slider__image {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	opacity: 0;
	visibility: hidden;
	margin: 0 auto;
	transition: opacity .3s, visibility .3s;

	&.is-active {
		opacity: 1;
		visibility: visible;
	}
}

.p-slider__content {
	position: relative;
	margin-left: auto;
	width: 520px;
	padding: 70px 90px 120px 90px;
	background-color: #F4F9FA;
}

.p-slider__content-wrapper {
	max-width: 1500px;
	margin: 0 auto;
	padding: 50px 100px;
}

.p-slider__counter {
	@extend .title-small-blue;

	min-width: 35px;
}

.p-slider__top {
	margin-bottom: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;

	&--green {

		.p-slider__counter {
			@extend .title-small-green;
		}

		.p-slider__dots .owl-dot {
			background-color: #CBEDE6;

			&.active {
				background-color: #26BF96;
			}
		}
	}
}

.p-slider__dots,
.owl-carousel .p-slider__dots, {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-left: 40px;

	.owl-dot {
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: #C9E6F3;
		transition: background-color .3s;
		display: block;
		margin-right: 20px;
		outline: none;
		cursor: pointer;
		padding: 0;

		span {
			display: none;
		}

		&.active {
			background: #1C9AD6;
		}
	}
}

.p-slider__title {
	@extend .title-mid;

	font-weight: 300;
	margin-bottom: 40px;
}

.p-slider__text {
	@extend p;

	line-height: 30px;
}

.p-slider__controls {
	position: absolute;
	left: 0;
	bottom: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}

.owl-carousel .owl-item .p-slider__image {
	width: auto;
}

.p-slider__arrow {
	position: relative;
	display: block;
	height: 75px;
	width: 75px;
	cursor: pointer;

	&:before,
	&:after {
		content: '';
		position: absolute;	
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 18px;
		height: 34px;
		background-position: center;
		background-repeat: no-repeat;
		transition: opacity .3s;
	}

	&:after {
		opacity: 0;
	}

	&:first-child {
		background-color: #353E49;

		&:after {
			background-image: url(../images/static/p-slider-arr-left-green.svg);
		}

		&:before {
			background-image: url(../images/static/p-slider-arr-left-white.svg);
		}
	}

	&:last-child {

		&:after {
			background-image: url(../images/static/p-slider-arr-right-green.svg);
		}

		&:before {
			background-image: url(../images/static/p-slider-arr-right-black.svg);
		}
	}

	&:hover {

		&:before {
			opacity: 0;
		}

		&:after {
			opacity: 1;
		}
	}
}