.p-top {
	padding: 70px 100px 50px 100px;
	max-width: 1500px;
	margin: 0 auto;
}

.p-top__bread {
	margin-bottom: 20px;
}

.p-top__title {
	font-family: 'Exo2';
	font-weight: 400;
	font-size: 54px;
	letter-spacing: 0.03em;
	color: #374E5D;
	text-transform: uppercase;
	max-width: 600px;
}

.p-top__date {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: #B3B3B3;
	font-family: 'GothamPro';
	margin-top: 30px;
}