.pagination {
	padding: 30px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.pagination__nav {
	position: relative;
	font-family: 'GothamPro';
	font-weight: 700;
	font-size: 12px;
	color: #353E49;
	padding: 15px;
	border-radius: 50%;
	flex-shrink: 0;
	letter-spacing: 0.03em;

	&:hover {

		&:after {
			opacity: 1;
		}
	}

	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 49%;
		transform: translate(-50%, -50%);
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background-color: #F3F8FA;
		z-index: -1;
		opacity: 0;
		transition: opacity .3s;
	}

	&--active {
		
		&:after {
			opacity: 1;
		}
	}

	@include arrows(pagination);

	&--prev {
		margin-right: 50px;

		&:hover {
			transform: translateX(-5px);
		}
	}

	&--next {
		margin-left: 50px;

		&:hover {
			transform: translateX(5px);
		}
	}

	&--prev,
	&--next {
		transition: transform .3s;

		&:after {
			display: none;
		}

		&:before {
			content: '';
			background-repeat: no-repeat;
			background-position: center;
			width: 9px;
			height: 13px;
			position: absolute;
			display: inline-block;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

