.partners {
	position: relative;
	padding: 150px 0 30px 0;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		width: 1440px;
		height: 940px;
		background-image: url(../images/static/welcome_art_1.svg);
		z-index: -1;
		left: -360px;
		top: -420px;
		animation-name: artAnimate;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 15000ms;
		animation-delay: -10000ms;
	}
}

.partners__inner {
	position: relative;
}

.partners__s-name {
	position: absolute;
	left: 0;
	top: 50px;
}

.partners__row {
	padding: 0 50px;
	max-width: 1220px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.partner {
	width: 25%;
	text-align: center;
	margin-bottom: 70px;

	&:hover {

		.partner__image {
			filter: grayscale(0);
			opacity: 1;
		}
	}
}

.partner__image-wrapper {
	height: 105px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: flex-end;
	align-items: flex-end;
	margin-bottom: 30px;
}

.partner__name {
	font-family: 'Roboto';
	font-weight: 300;
	color: #A6A6A6;
}

.partner__image {
	transition: filter .3s, opacity .3s;
	filter: grayscale(1);
	opacity: .6;
	max-width: 150px;
	max-height: 70px;
}