.popup {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.5);
	z-index: 25;
	padding: 100px;
	visibility: hidden;
	opacity: 0;
	transition: visibility .3s, opacity .3s;
	-webkit-overflow-scrolling: touch;

	&--visible {
		opacity: 1;
		visibility: visible;
	}

	&--success {

		.popup__inner {
			background-color: $accent;
			height: 80vh;
			min-height: 600px;
			max-height: 750px;
		}

		.popup__content-title {
			margin-bottom: 200px;
		}

		.popup__content-title,
		.popup__content-text {
			color: #fff;
		}

		.popup__closer {
			background-image: url(../images/static/popup-closer-white.svg);
		}
	}
}

.popup__inner {
	position: relative;
	margin-top: auto;	
	margin-bottom: auto;
	background-color: #F3F8FA;
	padding: 125px 150px 80px 150px;
	width: 100%;
	max-width: 1280px;
}

.popup__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.popup__content {
	width: 60%;
	padding-top: 75px;
	padding-right: 50px;
}

.popup__form {
	width: 40%;
}

.popup__closer {
	position: absolute;
	right: 50px;
	top: 50px;
	width: 22px;
	height: 22px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/static/popup-closer.svg);
	cursor: pointer;
}

.popup__content-title {
	font-size: 54px;
	letter-spacing: 0.03em;
	color: #374E5D;
	margin-bottom: 90px;
	text-transform: uppercase;	
	font-family: 'Exo2';
	font-weight: 400;
}

.popup__content-text {
	@extend p;

	line-height: 30px;
	color: #566679;
	max-width: 340px;
}

.popup__hides {
	margin-left: auto;
	margin-top: auto;
	font-family: 'Roboto';
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.03em;
	line-height: 18px;
	color: #fff;
	text-align: right;
	margin-bottom: 10px;
}