.projects {
	padding-bottom: 115px;
}

.projects__inner {
	position: relative;
}

.projects__s-name {
	position: absolute;
	left: 0;
	top: 0;
	opacity: .3;
}

.projects__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.projects__col {
	margin-bottom: 25px;

	&--small {
		width: 36%;
		margin-right: 40px;
		margin-left: 25px;
	}

	&--big {
		width: 57%;
	}
}