.project__inner {
	position: relative;
	padding: 0 100px;
}

.project__title {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	font-family: 'Exo2';
	line-height: 1;
	color: #455970;
	margin-bottom: 45px;
	padding: 0 120px;
}

.project__list {
	padding: 80px 0;
}

.project__list-more {
	text-align: center;
}