.ps-card {
	position: relative;
	padding: 100px 30px 80px 60px;

	&:before {
		content: '';
		position: absolute;
		width: 1440px;
		height: 940px;
		background-image: url(../images/static/ps-card-fly.svg);
		z-index: -1;
		left: -720px;
		top: -160px;
		animation-name: artAnimate;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 15000ms;
		animation-delay: -10000ms;
	}
}

.ps-card__top {
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	color: #26BF96;
	margin-bottom: 35px;
	letter-spacing: 0.03em;
}

.ps-card__title {
	font-family: 'Exo2';
	font-weight: 300;
	font-size: 55px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.ps-card__text {
	font-weight: 300;
	font-family: 'Roboto';
	color: #353E49;
	letter-spacing: 0.03em;
	line-height: 25px;
	max-width: 330px;
}

.ps-card__button {
	margin-top: 60px;
}