.r-review {
	position: relative;
	padding: 120px 0 100px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	&:before {
		content: '';
		position: absolute;
		left: -1000px;
		right: -1000px;
		top: 0;
		bottom: 0;
		background-color: #353E49;
		z-index: -1;
	}
}

.r-review__title {
	@include text('Exo2', 400, 40, uppercase, 40, #fff);

	width: 240px;
	flex-shrink: 0;
}

.r-review__content {
	width: 100%;
	max-width: 730px;
}

.r-review__text {
	@include text('Exo2', 300, 22, uppercase, 30, #fff);

	margin-bottom: 40px;
}

.r-review__note {
	@extend .title-small-blue;

	span {
		font-weight: 300;
	}
}

.r-review__image-wrapper {
	width: 160px;
	flex-shrink: 0;
	margin-right: 85px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: -40px;
}