.r-slider {
	margin-bottom: 45px;
}

.r-slider__arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 18px;
	height: 34px;
	background-color: transparent;
	cursor: pointer;

	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	    background-position: center;
    	background-repeat: no-repeat;
    	transition: opacity .3s;
	}

	&:after {
		opacity: 0;
	}

	&--prev {
		left: -60px;

		&:before {
			background-image: url(../images/static/p-slider-arr-left-black.svg);
		}

		&:after {
			background-image: url(../images/static/p-slider-arr-left-green.svg);
		}
	}

	&--next {
		right: -60px;

		&:before {
			background-image: url(../images/static/p-slider-arr-right-black.svg);
		}

		&:after {
			background-image: url(../images/static/p-slider-arr-right-green.svg);
		}
	}

	&:hover {

		&:before {
			opacity: 0;
		}

		&:after {
			opacity: 1;
		}
	}
}

.r-slider__dots {
	@extend .p-slider__dots;

	padding: 25px;
	justify-content: center;
	margin-left: 0;

	.owl-dot {
		margin: 0 10px;
	}
}

.r-slider__counter {
	@extend .p-slider__counter;

	justify-content: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}