.r-texts {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 100px;
	margin-bottom: 30px;
}

.r-text {
	width: 45%;
	margin-bottom: 50px;
	padding-left: 55px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 13px;
		left: 0;
		height: 1px;
		width: 30px;
		background-color: $accent;
	}
}