.s-card {
	position: relative;
	padding: 60px 60px 60px 120px;

	&--wide {
		padding: 100px 60px 100px 120px;
		margin-bottom: 80px;
	}

	&--blue-bg {

		&:before {
			content: '';
			position: absolute;
			left: -1000px;
			top: 0;
			right: -1000px;
			bottom: 0;
			background-color: $accent;
			z-index: -1;
		}
	}

	&--text-white {

		.s-card__num,
		.s-card__title,
		.s-card__text p {
			color: #fff;
			max-width: 1040px;
		}
	}
}

.s-card__num {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: $accent;
	font-family: 'GothamPro';
	font-weight: 700;
	margin-bottom: 30px;
}

.s-card__title {
	font-family: 'Exo2';
	font-weight: 400;
	font-size: 40px;
	line-height: 1;
	color: #455970;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.s-card__text {

	p {
		line-height: 30px;
	}
}

.s-card__svg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	overflow: hidden;

	svg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) scale(1.3);
	}
}

