.s-name {
    transform: rotate(180deg);
	writing-mode: vertical-rl;
	font-family: 'GothamPro';
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	font-weight: 700;
	// opacity: 0;
	color: #C0C5C9;

	&--white {
		color: #fff;
	}

	&--grey {
		color: #C0C5C9;
	}

	&--mobile {
		opacity: 0;
	}
}