.s-types {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.s-type__image-wrapper {
	width: 21px;
	height: 21px;
	margin-right: 15px;
}

.s-type__image {
	max-width: 100%;
	max-height: 100%;
}

.s-type {
	margin-right: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.s-type__name {
	font-family: "Roboto";
	font-weight: 300;
	line-height: 19px;
	color: #1C9AD6;
}