.services {
	background-color: $accent;
	padding-top: 150px;
	padding-bottom: 100px;
	position: relative;
	color: #fff;
	overflow: hidden;
}

.services__s-name {
	position: absolute;
	left: 0;
	top: 0;
}

.services__inner {
	position: relative;
}

.services__row {
	padding-left: 110px;
}

.services__row {
	column-count: 2;
	column-gap: 300px;
	margin-bottom: 70px;
}

.services__item {
	position: relative;
	font-size: 30px;
	font-weight: 100;
	font-family: 'Exo2';
	line-height: 1.2;
	letter-spacing: 0.03em;
	margin-bottom: 40px;
	text-transform: uppercase;
	max-width: 550px;
	padding-left: 60px;

	&:before {
		content: '';
		width: 40px;
		height: 1px;
		background-color: #fff;
		position: absolute;
		left: 0;
		top: 15px;
	}
}

.services__button {
	position: relative;
	text-align: center;
}

.services__svg {
	position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -200px;
    width: 800px;
    height: 800px;

    .svg__start {
    	z-index: 2;
    }

    .svg__item svg {
    	display: none;
    }
}