.servs__inner {
	padding: 0 100px;
}

.servs__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 30px;
}

.servs__col {
	width: 50%;
}

.serv {
	position: relative;
	padding: 55px 0;
	margin: 30px 0;

	&--reverse {

		.serv__s-card {
			margin-left: auto;
		}

		.serv__image {
			right: 30%;
			left: -23vw;
		}
	}

	&:first-child {
		margin-top: 0;
	}
}

.serv__s-card {
	position: relative;
	z-index: 1;
	width: 55%;
	background-color: #fff;
}

.serv__image {
	position: absolute;
	right: -23vw;
	top: 0;
	bottom: 0;
	left: 40%;
	background-color: #ccc;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

