.sitemap {
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		width: 1440px;
		height: 940px;
		background-image: url(../images/static/welcome_art_1.svg);
		z-index: -1;
		left: -620px;
		top: -600px;
		animation-name: artAnimate;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 15000ms;
		animation-delay: -10000ms;
	}

	&:after {
		content: '';
		position: absolute;
		width: 1440px;
		height: 940px;
		background-image: url(../images/static/welcome_art_1.svg);
		z-index: -1;
		right: -620px;
		bottom: -800px;
		animation-name: artAnimate;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 15000ms;
		animation-delay: -5000ms;
	}
}

.sitemap__inner {
	padding: 100px 100px 30px 100px;

}

.sitemap__title {
	text-transform: uppercase;
	font-size: 55px;
	font-family: 'Exo2';
	font-weight: 400;
	letter-spacing: 0.03em;
	margin-bottom: 90px;
	color: #374E5D;
}

.sitemap__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	max-width: 780px;
	padding-left: 180px;
}

.sitemap__item {
	width: 50%;
	margin-bottom: 45px;
}

.sitemap__link {
	font-family: 'Exo2';
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 0.03em;
	color: #647485;
	text-transform: uppercase;

	&:hover {
		color: $accent;
	}
}