.start {
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 500px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 130px 0;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	z-index: 1;
	min-height: 710px;
}

.start__inner {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 100px;
	width: 100%;
}

.start__title {
	margin-bottom: 50px;
	font-family: 'Exo2';
	font-weight: 100;
	font-size: 40px;
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
	max-width: 640px;
}

.start__bread {
	margin-bottom: 110px;
}

.start__text {
	margin-bottom: 70px;
	font-family: 'Roboto';
	font-weight: 300;
	color: #fff;
	line-height: 30px;
	max-width: 590px;
}

.start__play {
	display: block;
	margin-top: 130px;
	width: 77px;
	height: 77px;
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url(../images/static/start__play.svg);
	opacity: .25;

	&:hover {
		opacity: .35;
	}
}

