.w-slider {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.w-slider__main {
	display: none;

	&--active {
		display: block;
	}
}

.w-slider__main {
	max-width: 530px;
	padding-left: 90px;
}

.w-slider__top {
	font-family: 'GothamPro';
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	line-height: 18px;
	font-weight: 700;
	margin-bottom: 25px;
	color: $accent;
}

.w-slider__title {
	font-family: 'Exo2';
	font-size: 55px;
	line-height: 1;
	text-transform: uppercase;
	color: #374E5D;
	margin-bottom: 40px;
}

.w-slider__text {
	color: #353E49;
	font-size: 16px;
	line-height: 30px;
	max-width: 330px;
	letter-spacing: 0.03em;
	font-family: 'Roboto';
	font-weight: 300;
}

.w-slider__announce  {
	position: absolute;
	right: -250px;
	top: 50%;
	transform: translateY(-50%);
	width: 400px;
	min-height: 160px;
	padding-bottom: 40px;
	cursor: pointer;

	&:after {
		content: '';
		background-image: url(../images/static/announce-arrow.svg);
		width: 20px;
		height: 20px;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: transform .4s, opacity .3s;
	}
	
	&:hover {

		.w-slider__announce-text {
			color: lighten($accent, 10%);
		}

		&:after {
			transform: translateX(20px);
			opacity: .8;
		}
	}
}

.w-slider__announce-text {
	font-family: 'Exo2';
	font-weight: 100;
	font-size: 40px;
	text-transform: uppercase;
	color: $accent;
	letter-spacing: 0.03em;
	line-height: 1;
	transition: color .3s;
}