.welcome__svg {
	width: 1300px;
	height: 1200px;
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
}

.svg__start,
.svg__item {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.svg__item--2,
.svg__item--3 {
	opacity: 0;
}

.welcome {
	position: relative;
	padding-top: 130px;
	min-height: 800px;
	height: 100vh;
	max-height: 940px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	overflow: hidden;
	margin-top: -99px;
}

.welcome__art {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -2;
}

.welcome__art-image {
	position: absolute;
	width: 1400px;
	z-index: -1;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
	animation-duration:15000ms;

	&--1 {
		bottom: 25%;
		right: 45%;
		animation-name: artAnimate;
	}

	&--2{
		top: 60%;
		left: 60%;
		animation-name: artAnimate;
		animation-delay: -5000ms;
	}
}


@keyframes artAnimate {
	from {transform: translateX(0)}
	50% {transform: translateX(100px)}
	to {transform: translateX(0)}
}

#mySVG * {
  fill-opacity: 0;
  transition: fill-opacity 1s;
}

#mySVG.finished * {
  fill-opacity: 1;
}