.workers {
	position: relative;
	padding: 110px 0 0;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;

	&--fill {

		&:before {
			position: absolute;
			content: '';
			left: -1000px;
			right: -1000px;
			top: 0;
			bottom: 0;
			background-color: #F3F8FA;
			z-index: -1;
		}
	}
}

.workers__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0px;
	padding-right: 0px;
	max-width: 1300px;
	margin: 0 auto;
}

.workers__inner {
	position: relative;

	.project__title {
		margin-bottom: 75px;
	}
}

.workers__s-name {
	position: absolute;
	left: 0;
	top: 0;
}

.worker {
	position: relative;
	width: 33.3333%;
	text-align: center;
	border-right: 1px solid #B4C8CE;
	margin-bottom: 100px;

	&:nth-child(3n+3) {
		border: none;
	}
}

.worker__image {
	width: 120px;
	height: 120px;
	margin: 0 auto 30px auto;
	border-radius: 50%;
	overflow: hidden;
}

.worker__position {
	@extend .title-small-dark;

	margin-bottom: 10px;
}

.worker__name {
	@include text('Exo2', 300, 20, uppercase, 24, #000);

	margin-bottom: 10px;
}

.worker__link {
	@include text('Roboto', 300, 16, none, 30, #353E49);

	&:hover {
		color: $accent;
	}
}